<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/maintenance/systems/all-systems">All Systems</a>
    </li>
    <li class="breadcrumb-item active">View System</li>
</ol>

<div class="row">

    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">View System</p>
                
                <div class="row">
                    <div class="col">

                        <!-- maintenance system form component -->
                        
                        <app-maintenance-system-form #maintenanceSystemFormComponentReference></app-maintenance-system-form>
                        
                        <div class="row mt-3 float-end">
                            <div class="col">
                                <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isFetchingData || isSavingSystem" (click)="updateSystem()">Save</button>
                                <button class="btn btn-sm btn-danger ms-2 form-control-btn" [disabled]="isFetchingData || isDeletingSystem" (click)="confirmDelete()">Delete</button>
                                <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/maintenance/systems">Cancel</button>
                            </div>
                        </div>                        

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">System Issues History</p>
                
                <button class="btn btn-light border" routerLink="/modules/maintenance/systems/system-issues-history">
                    View Issues History
                    <i class="bi bi-arrow-right ms-3"></i>
                </button>

            </div>
        </div>

        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">System Services History</p>
                
                <button class="btn btn-light border" routerLink="/modules/maintenance/systems/system-services-history">
                    View Services History
                    <i class="bi bi-arrow-right ms-3"></i>
                </button>

            </div>
        </div>

    </div>

</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-one #deleteModalOneComponentReference (confirmEvent)="deleteSystem()"></app-delete-modal-one>
