<p class="h2 mt-4">Orders</p>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Products</div>
                        <div class="h4 mb-0">{{numberOfProducts}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Orders <span class="text-muted">| today</span></div>
                        <div class="h3 mb-0">{{ordersToday}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Sales <span class="text-muted">| today</span></div>
                        <div class="h3 mb-0">{{salesToday | currency}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Vendors</div>
                        <div class="h4 mb-0">{{numberOfVendors}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-body">
                
                <div class="h6 mb-3">Orders <span class="text-muted">| this week</span></div>

                <canvas id="ordersLineChart"></canvas>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-body">
        
                <div class="h6 mb-3">Sales <span class="text-muted">| this week</span></div>

                <canvas id="salesLineChart"></canvas>

            </div>
        </div>
    </div>
</div>
