<form [formGroup]="stockItemForm">

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Item ID :</label></div>
        <div class="col-md-8">
            <input formControlName="itemCode" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4">
            <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Item Name :</label>
        </div>
        <div class="col-md-8">
            <input formControlName="itemName" class="form-control form-control-sm w-100" [ngClass]="{ 'is-invalid': isSaved && stockItemForm.controls.itemName.invalid }" required>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4">
            <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Item Category :</label>
        </div>
        <div class="col-md-8">
            <div class="input-group input-group-sm w-100">
                <input formControlName="itemCategory" class="form-control" [ngClass]="{ 'is-invalid': isSaved && stockItemForm.controls.itemCategory.invalid }" required>
                <button type="button" class="btn btn-secondary" (click)="openCategoryWindow.emit()" required>
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Total Stock :</label></div>
        <div class="col-md-8">
            <input type="number" min="0" step="1" formControlName="stock" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Refill Ordered :</label></div>
        <div class="col-md-8">
            <input type="number" min="0" step="1" formControlName="refillOrdered" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Container :</label></div>
        <div class="col-md-8">
            <input formControlName="container" class="form-control form-control-sm w-100">
        </div>
    </div>

</form>