.calendar-container {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navigation button {
  width: 110px;
  background-color: #f2f2f2;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.calendar-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.calendar-table td {
  cursor: pointer;
}

.calendar-table td:hover {
  background-color: #f2f2f2;
}

.months-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
