<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/housekeeping/tasks/all-tasks">All Tasks</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/housekeeping/tasks/view-task">View Task</a>
    </li>
    <li class="breadcrumb-item active">Task Schedule</li>
</ol>

<div class="row mb-4">

    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">

                <p class="lead">Task Scehdule</p>

            </div>
        </div>
    </div>
</div>