<div class="row mb-3">
    <div class="col">
        <button [disabled]="isFetchingData" (click)="getDayAttendanceSheetList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
            <i class="bi bi-arrow-clockwise"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col">

        <div class="overflow-auto">                    
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th width="15%" scope="col" class="min-width-2">Staff ID</th>
                        <th width="25%" scope="col" class="min-width-4">Staff Name</th>
                        <th width="15%" scope="col" class="min-width-2">Clocked In</th>
                        <th width="15%" scope="col" class="min-width-2">Clocked Out</th>
                        <th width="15%" scope="col" class="min-width-2">Started Break</th>
                        <th width="15%" scope="col" class="min-width-2">Ended Break</th>
                    </tr>
                </thead>
                <tbody *ngIf="!isFetchingData">
                    <tr *ngFor="let data of personnelListData">
                        <td>{{data?.data().personnel.data.staff_code}}</td>
                        <td>{{data?.data().personnel.data.full_name}}</td>
                        <td *ngFor="let sheet of sheetListData">
                            <span *ngIf="sheet.data().personnel.id == data.data().personnel.id">{{sheet.data().sheet.clocked_in}}</span>
                        </td>
                        <td *ngFor="let sheet of sheetListData">
                            <span *ngIf="sheet.data().personnel.id == data.data().personnel.id">{{sheet.data().sheet.clocked_out}}</span>
                        </td>
                        <td *ngFor="let sheet of sheetListData">
                            <span *ngIf="sheet.data().personnel.id == data.data().personnel.id">{{sheet.data().sheet.started_break}}</span>
                        </td>
                        <td *ngFor="let sheet of sheetListData">
                            <span *ngIf="sheet.data().personnel.id == data.data().personnel.id">{{sheet.data().sheet.ended_break}}</span>
                        </td>                        
                    </tr>
                </tbody>
                <tbody *ngIf="isFetchingData">
                    <tr>
                        <td colspan="6">
                            <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="false"></app-table-loading>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
