<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Daily Factory Orders</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                
                <p class="lead">Main Factory Orders</p>

                <div class="row mb-3">
                    <div class="col">                        
                        <input [(ngModel)]="filterText" (change)="getOrderList()" class="form-control form-control-sm w-25 float-end" type="search" placeholder="search orders">
                        <button [disabled]="isFetchingData" (click)="getOrderList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <div class="overflow-auto">
                            <table class="table table-sm table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th width="25%" scope="col" class="min-width-3">
                                            <app-table-sorting [fieldTitle]="'Order Date'" [thisColumn]="'order_date'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getOrderList()"></app-table-sorting>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!isFetchingData">
                                    <ng-container *ngFor="let data of orderListData; let i = index">
                                        <!-- Check if the order_date is different from the previous row -->
                                        <ng-container *ngIf="i === 0 || data?.data().order_date !== orderListData[i - 1]?.data().order_date">
                                            <tr (click)="viewOrder(data?.data().order_date)">
                                                <td>{{ data?.data().order_date | date: 'dd-MM-yyyy' }}</td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>                                
                                <tbody *ngIf="isFetchingData || !isDataAvailable">
                                    <tr>
                                        <td colspan="1">
                                            <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">

                        <app-table-paginator [(currentPage)]="currentPage" [pageSize]="pageSize" [totalPages]="totalPages" (pageData)="getOrderList()"></app-table-paginator>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>