<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/admin/logs/all-logs">All Activity Logs</a>
    </li>
    <li class="breadcrumb-item active">Log Details</li>
</ol>

<div class="row">
    <div class="col-md-7">
        <div class="card shadow-sm py-3">
            <div class="card-body">

                <p class="lead">Log Detail</p>

                <div class="row mb-2">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-4 text-muted">Log ID :</div>
                            <div class="col-md-4">3</div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-4 text-muted">Date/Time :</div>
                            <div class="col-md-4">24-04-2023 4:22 PM</div>
                        </div>
                    </div>
                </div>
                           
                <div class="row mb-2">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-4 text-muted">User Name :</div>
                            <div class="col-md-4">John Johnson</div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-4 text-muted">Activity :</div>
                            <div class="col-md-4">Added new purchasing</div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-4 text-muted">Previous Entry :</div>
                            <div class="col-md-4">waala</div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-4 text-muted">Inputed Entry :</div>
                            <div class="col-md-4">laawa</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>