.background-div {
    background-image: url('../../../../assets/images/murger-han/murger-han-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  