<div class="card shadow-lg border-0 rounded-lg mt-5 p-4">
    <div class="card-body">
        <h3 class="text-center font-weight-light my-4">Basic Profile</h3>
        <hr>
        <form [formGroup]="basicForm" (ngSubmit)="setBasicUser()">
            <div class="mb-3">
                <label for="nameInput" class="form-label">Full Name</label>
                <input formControlName="fullName" type="text" class="form-control form-control-sm" id="nameInput">
            </div>
            <div class="mb-3">
                <label for="dobInput" class="form-label">Date of Birth</label>
                <input formControlName="dateOfBirth" type="date" class="form-control form-control-sm" id="dobInput">
            </div>
            <div class="mb-3">
                <label for="nameInput" class="form-label">NI Number</label>
                <input formControlName="niNumber" type="text" class="form-control form-control-sm" id="nameInput">
            </div>
            <div class="mb-3">
                <label for="emailInput" class="form-label">Email</label>
                <input formControlName="email" type="email" class="form-control form-control-sm" id="emailInput" placeholder="example@site.com">
            </div>
            <div class="mb-3">
                <label for="phoneInput" class="form-label">Phone</label>
                <input formControlName="phone" type="tel" class="form-control form-control-sm" id="phoneInput" placeholder="000-000-0000">
            </div>
            <div class="mb-3">
                <label for="addressTextarea" class="form-label">Address</label>
                <textarea formControlName="address" class="form-control form-control-sm" rows="3" id="addressTextarea"></textarea>
            </div>

            <div class="page-form-btn mt-4">
                <button [disabled]="isFetchingData || isSavingBasic" class="btn btn-sm btn-primary float-end form-control-btn">Next</button>
            </div>
        </form>
    </div>
</div>