<p class="h2 mt-4">Maintenance</p>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Systems</div>
                        <div class="h3 mb-0">{{numberOfSystems}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Issues <span class="text-muted">| this week</span></div>
                        <div class="h3 mb-0">{{issuesThisWeek}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Services <span class="text-muted">| this week</span></div>
                        <div class="h3 mb-0">{{servicesThisWeek}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    
    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Contractors</div>
                        <div class="h3 mb-0">{{numberOfContractors}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow mb-4">
            <div class="card-body">
        
                <div class="h6 mb-3">Issues <span class="text-muted">| this month</span></div>

                <canvas id="issuesLineChart"></canvas>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow mb-4">
            <div class="card-body">

                <div class="h6 mb-3">Services <span class="text-muted">| this month</span></div>

                <canvas id="servicesLineChart"></canvas>

            </div>
        </div>
    </div>
</div>
