<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">Supplier's Items</p>
                
                <div class="row">
                    <div class="col">
                
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%" scope="col">Item ID</th>
                                    <th width="53%" scope="col">Item Name</th>
                                    <th width="20%" scope="col">Price</th>
                                    <th width="7%" class="p-0 min-width-2">
                                        <button class="btn btn-primary btn-sm w-100">
                                            <i class="bi bi-plus"></i>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of supplierItemListData">
                                    <td>{{data?.item?.data?.item_code}}</td>
                                    <td>{{data?.item?.data?.item_name}}</td>
                                    <td>{{data?.item?.data?.unit_price}}</td>
                                    <td class="p-0">
                                        <button (click)="confirmDelete(data.item?.id)" [disabled]="isItemDeleting" class="btn btn-danger btn-sm border w-100">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- delete confirmation modal component -->

<app-delete-modal-two #deleteModalTwoComponentReference (confirmEvent)="deleteSupplierItem()"></app-delete-modal-two>
