<!-- <i *ngIf="!(currentField == sortField || currentField == '-' + sortField)" class="bi bi-filter icon-pointer" (click)="setSort(sortField)"></i> -->
<!-- <i *ngIf="currentField == sortField" class="bi bi-sort-down icon-pointer" (click)="setSort('-' + sortField)"></i> -->
<!-- <i *ngIf="currentField == '-' + sortField" class="bi bi-sort-up icon-pointer" (click)="setSort(sortField)"></i> -->

<i class="bi bi-filter icon-pointer" (click)="setSort(sortField)"></i>

<span class="field-title ms-2">{{fieldTitle}}</span>
