<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/maintenance/contractors/all-contractors">All contractors</a>
    </li>
    <li class="breadcrumb-item active">Add contractor</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Add New contractor</p>
                
                <div class="row">
                    <div class="col">

                        <!-- contractor form component -->

                        <app-contractor-form #contractorFormComponentReference></app-contractor-form>
                        
                        <div class="row mt-3 float-end">
                            <div class="col">
                                <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isSavingContractor" (click)="createContractor()">Save</button>
                                <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/maintenance/contractors">Cancel</button>
                            </div>
                        </div>                           

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
