<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All orders</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">orders</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary py-1 add-item-btn" (click)="addOrder.openModal()">Add order</button>
                        <input class="form-control form-control-sm w-25 float-end" type="search" placeholder="search orders">
                        <button class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Vendor</th>
                                    <th scope="col">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>OD923403</td>
                                    <td>04-06-2023</td>
                                    <td>Murger Vendor</td>
                                    <td>1240.00</td>
                                </tr>
                                <tr>
                                    <td>OD923403</td>
                                    <td>04-06-2023</td>
                                    <td>Murger Vendor</td>
                                    <td>1240.00</td>
                                </tr>
                                <tr>
                                    <td>OD923403</td>
                                    <td>04-06-2023</td>
                                    <td>Murger Vendor</td>
                                    <td>1240.00</td>
                                </tr>                               
                            </tbody>
                        </table>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- add order modal component -->
<app-add-order #addOrderComponentReference></app-add-order>
