<table class="table w-100 page-table">
    <thead>
        <tr class="bg-light">
            <th width="15%" class="min-width-1">No.</th>
            <th width="65%" class="min-width-3">Item Name</th>
            <th width="20%" class="min-width-2">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Cleaning of tables</td>
            <td><input type="checkbox" class="form-check-input" id="adminCheckbox"></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Cleaning of tables</td>
            <td><input type="checkbox" class="form-check-input" id="adminCheckbox"></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Cleaning of tables</td>
            <td><input type="checkbox" class="form-check-input" id="adminCheckbox"></td>
        </tr>
    </tbody>
</table>