<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectRosterModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectRosterModal" tabindex="-1" aria-labelledby="selectRosterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectRosterModalLabel">Select Roster</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-sm table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="30%" scope="col" class="min-width-2">
                                <app-table-sorting [fieldTitle]="'Roster ID'" [thisColumn]="'roster_code'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getRosterList()"></app-table-sorting>
                            </th>
                            <th width="70%" scope="col" class="min-width-4">
                                <app-table-sorting [fieldTitle]="'Roster Name'" [thisColumn]="'roster_name'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getRosterList()"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!isFetchingData">
                        <tr *ngFor="let data of rosterListData" (dblclick)="selectRow(data)">
                            <td>{{data?.data().roster_code}}</td>
                            <td>{{data?.data().roster_name}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="isFetchingData || !isDataAvailable">
                        <tr>
                            <td colspan="2">
                                <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                </table>                                 
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
