<div class="row mb-1">
    <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Category ID :</label></div>
    <div class="col-md-8">
        <input class="form-control form-control-sm w-100">
    </div>
</div>

<div class="row mb-1">
    <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Category Name :</label></div>
    <div class="col-md-8">
        <input class="form-control form-control-sm w-100">
    </div>
</div>

<div class="row mb-1">
    <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Category Description :</label></div>
    <div class="col-md-8">
        <textarea rows="3" class="form-control form-control-sm w-100"></textarea>
    </div>
</div>