<form [formGroup]="categoryForm">
    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Category ID :</label></div>
        <div class="col-md-8">
            <input formControlName="categoryCode" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4">
            <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Category Name :</label>
        </div>
        <div class="col-md-8">
            <input formControlName="categoryName" class="form-control form-control-sm w-100" [ngClass]="{ 'is-invalid': isSaved && categoryForm.controls.categoryName.invalid }" required>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Category Description :</label></div>
        <div class="col-md-8">
            <textarea formControlName="description" rows="3" class="form-control form-control-sm w-100"></textarea>
        </div>
    </div>
</form>