<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Services</li>
</ol>

<div class="row">
    <div class="col-md-10">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                
                <p class="lead">Maintenance Services</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary btn-sm add-item-btn" routerLink="/modules/maintenance/services/new-service">New Service</button>
                        <input [(ngModel)]="filterText" (change)="getServiceList()" class="form-control form-control-sm w-25 float-end" type="search" placeholder="search maintenance services">
                        <button [disabled]="isFetchingData" (click)="getServiceList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <div class="overflow-auto">
                            <table class="table table-sm table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th width="15%" scope="col" class="min-with-2">
                                            <app-table-sorting [fieldTitle]="'Service ID'" [thisColumn]="'service_code'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getServiceList()"></app-table-sorting>
                                        </th>
                                        <th width="30%" scope="col" class="min-with-5">
                                            <app-table-sorting [fieldTitle]="'Service Subject'" [thisColumn]="'service_subject'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getServiceList()"></app-table-sorting>
                                        </th>
                                        <th width="15%" scope="col" class="min-with-3">
                                            <app-table-sorting [fieldTitle]="'Date From'" [thisColumn]="'date_from'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getServiceList()"></app-table-sorting>
                                        </th>
                                        <th width="15%" scope="col" class="min-with-3">
                                            <app-table-sorting [fieldTitle]="'Date To'" [thisColumn]="'date_to'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getServiceList()"></app-table-sorting>
                                        </th>
                                        <th width="25%" scope="col" class="min-with-4">
                                            <app-table-sorting [fieldTitle]="'Contractor Name'" [thisColumn]="'contractor_name'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getServiceList()"></app-table-sorting>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!isFetchingData">
                                    <tr *ngFor="let data of serviceListData" (click)="viewService(data.id)">
                                        <td>{{getFormatId(data?.data().service_code)}}</td>
                                        <td>{{data?.data().service_subject}}</td>
                                        <td>{{data?.data().date_from | date: 'short'}}</td>
                                        <td>{{data?.data().date_to | date: 'short'}}</td>
                                        <td>{{data?.data().contractor.data.contractor_name}}</td>
                                    </tr> 
                                </tbody>
                                <tbody *ngIf="isFetchingData || !isDataAvailable">
                                    <tr>
                                        <td colspan="5">
                                            <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">

                        <app-table-paginator [(currentPage)]="currentPage" [pageSize]="pageSize" [totalPages]="totalPages" (pageData)="getServiceList()"></app-table-paginator>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>