<form [formGroup]="unitForm">
    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Unit ID :</label></div>
        <div class="col-md-8">
            <input formControlName="unitCode" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Unit Name :</label></div>
        <div class="col-md-8">
            <input formControlName="unitName" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Unit Type :</label></div>
        <div class="col-md-8">
            <input formControlName="unitType" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Location :</label></div>
        <div class="col-md-8">
            <input formControlName="location" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Unit Condition :</label></div>
        <div class="col-md-8">
            <input formControlName="condition" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Description :</label></div>
        <div class="col-md-8">
            <textarea formControlName="description" rows="3" class="form-control form-control-sm w-100"></textarea>
        </div>
    </div>
</form>