<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/orders/products/all-products">All Products</a>
    </li>
    <li class="breadcrumb-item active">New Product</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">

                <p class="lead">Add New Product</p>
                
                <div class="row">
                    <div class="col">

                        <!-- product form component -->

                        <app-product-form #productFormComponentReference></app-product-form>
                        
                        <div class="row mt-3 float-end">
                            <div class="col">
                                <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isSavingProduct" (click)="createProduct()">Save</button>
                                <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/orders/products">Cancel</button>
                            </div>
                        </div>                        

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
