<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/users/invitations/all-invitations">All Invitations</a>
    </li>
    <li class="breadcrumb-item active">View Invitation</li>
</ol>

<div class="row">
    <div class="col-md-7">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                
                <p class="lead">Invitation Details</p>

                <div *ngIf="!isFetchingData"> 
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted"><span class="float-end">Invitation ID :</span></div>
                        <div class="col-md-8">{{invitationData.data().invitation_code}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted"><span class="float-end">Invitation Date :</span></div>
                        <div class="col-md-8">{{invitationData.data().invitation_date.toDate() | date: 'short'}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted"><span class="float-end">Invitee Name :</span></div>
                        <div class="col-md-8">{{invitationData.data().invitee_name}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted"><span class="float-end">Invitee Email :</span></div>
                        <div class="col-md-8">{{invitationData.data().invitee_email}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted"><span class="float-end">Invitation Status :</span></div>
                        <div class="col-md-8">{{invitationData.data().invitation_status}}</div>
                    </div>
                    <div *ngIf="invitationData.data().invitation_status != 'Awaiting'" class="row mb-3">
                        <div class="col-md-4 text-muted"><span class="float-end">Acceptance File :</span></div>
                        <div class="col-md-8">
                            <a [href]="termsFile" target="_blank">
                                <button class="btn btn-sm btn-outline-success py-0"><i class="bi bi-download me-3"></i>Download</button>
                            </a>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted"><span class="float-end">Date Accepted :</span></div>
                        <div class="col-md-8">
                            <span *ngIf="invitationData.data().date_accepted">{{invitationData.data().date_accepted.toDate() | date: 'short'}}</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted"><span class="float-end">Email Subejct :</span></div>
                        <div class="col-md-8">{{invitationData.data().email_subject}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted"><span class="float-end">Email Message :</span></div>
                        <div class="col-md-8">{{invitationData.data().email_message}}</div>
                    </div>

                    <div class="row text-center my-4">
                        <div class="col">
                            <button [disabled]="invitationData.data().invitation_status != 'Accepted' || isSavingInvitation" class="btn btn-primary mb-2" (click)="updateInvitation()">
                                Add to Users
                            </button>
                            <p *ngIf="invitationData.data().invitation_status == 'Awaiting'" class="small text-muted">Awaiting acceptance</p>
                            <p *ngIf="invitationData.data().invitation_status == 'Approved'" class="small text-muted">Already added to users</p>
                        </div>
                    </div>
                </div>

                <div *ngIf="isFetchingData" class="text-center">
                    <div class="spinner-border text-primary m-5" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
