<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/housekeeping/tasks/all-tasks">All Tasks</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/housekeeping/tasks/view-task">View Task</a>
    </li>
    <li class="breadcrumb-item active">Inspect Task</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Task Details</p>
                                                
                <form [formGroup]="taskForm">

                    <div class="row">
                        <div class="col">

                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Task ID :</label></div>
                                <div class="col-md-8">
                                    <input formControlName="taskCode" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Task Name :</label></div>
                                <div class="col-md-8">
                                    <input formControlName="taskName" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Primary Asignee :</label></div>
                                <div class="col-md-8">
                                    <div class="input-group input-group-sm w-100">
                                        <input formControlName="primaryAssignee" class="form-control">
                                        <button type="button" class="btn btn-secondary">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Task Type :</label></div>
                                <div class="col-md-8">
                                    <select formControlName="taskType" class="form-control form-control-sm w-100">
                                        <option value="Chore">Chore</option>
                                        <option value="Inspection">Inspection</option>
                                        <option value="Drill">Drill</option>
                                    </select>
                                </div>
                            </div>
                                                    
                        </div>                                                  
                    </div>

                </form>                  

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Task Inspection Checks</p>

                <div class="overflow-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="min-width-2">No.</th>
                                <th scope="col" class="min-width-5">Task Description</th>
                                <th scope="col" class="min-width-3">Unit Name</th>
                                <th scope="col" class="min-width-3">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of taskItemListData">
                                <td>{{data?.data().item_number}}</td>
                                <td>{{data?.data().task_description}}</td>
                                <td>{{data?.data().unit?.data?.unit_name}}</td>
                                <td><input [checked]="data?.data().item_status" type="checkbox" class="form-check-input" (change)="updateTaskItem($event, data.id)" [disabled]="isItemSaving"></td>
                            </tr>      
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead mb-4">Inspection Pictures</p>

                <div class="row mb-4 text-center">
                    <div *ngFor="let data of taskImageListData" class="col-md-6 mb-4">
                        <img class="image-thumbnail border rounded" [src]="data?.data().url" style="width: 120px; height: 100px;"/>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col">
                        <button class="btn btn-light border" routerLink="/modules/housekeeping/tasks/task-images">
                            View All Pictures
                            <i class="bi bi-arrow-right ms-3"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>