<p class="h2 mt-4">Attendance</p>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Present <span class="text-muted">| today</span></div>
                        <div class="h3 mb-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Absent <span class="text-muted">| today</span></div>
                        <div class="h3 mb-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
