<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/maintenance/issues/all-issues">All Issues</a>
    </li>
    <li class="breadcrumb-item active">New Issue</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Add New Maintenance Issue</p>
                
                <div class="row">
                    <div class="col">

                        <!-- maintenance issue form component -->

                        <app-maintenance-issue-form #maintenanceIssueFormComponentReference (openSystemWindow)="openSystemWindow()" (openUserRoleWindow)="openUserRoleWindow()"></app-maintenance-issue-form>
                        
                        <div class="row mt-3 float-end">
                            <div class="col">
                                <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isSavingIssue" (click)="createIssue()">Save</button>
                                <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/maintenance/issues">Cancel</button>
                            </div>
                        </div>                        

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- select system window -->

<app-select-system #selectSystemComponentReference (rowSelected)="onSystemSelected($event)"></app-select-system>

<!-- select user role window -->

<app-select-user-role #selectUserRoleComponentReference (rowSelected)="onUserRoleSelected($event)"></app-select-user-role>
