<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/inventory/suppliers/all-suppliers">All suppliers</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/inventory/suppliers/view-supplier">View Supplier</a>
    </li>
    <li class="breadcrumb-item active">Supplier History</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Supplier Details</p>
                
                <form [formGroup]="supplierForm">

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Supplier ID :</label></div>
                        <div class="col-md-8">
                            <input formControlName="supplierCode" class="form-control form-control-sm w-100">
                        </div>
                    </div>
                    
                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Supplier Name :</label></div>
                        <div class="col-md-8">
                            <input formControlName="supplierName" class="form-control form-control-sm w-100">
                        </div>
                    </div>
                
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                
                <p class="lead">Supplier Purchasing History</p>

                <div class="row mb-3">
                    <div class="col">
                        <input [(ngModel)]="filterText" (change)="getSupplierPurchasingList()" class="form-control form-control-sm w-25 float-end" type="search" placeholder="search purchasing">
                        <button [disabled]="isFetchingData" (click)="getSupplierPurchasingList()"  class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <div class="overflow-auto">
                            <table class="table table-sm table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th width="30" scope="col" class="min-width-2">
                                            <app-table-sorting [fieldTitle]="'Purchasing ID'" [thisColumn]="'purchasing_code'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getSupplierPurchasingList()"></app-table-sorting>
                                        </th>
                                        <th width="32" scope="col" class="min-width-3">
                                            <app-table-sorting [fieldTitle]="'Purchasing Date'" [thisColumn]="'purchasing_date'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getSupplierPurchasingList()"></app-table-sorting>
                                        </th>
                                        <th width="30" scope="col" class="min-width-3">
                                            <app-table-sorting [fieldTitle]="'Total Price'" [thisColumn]="'total_price'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getSupplierPurchasingList()"></app-table-sorting>
                                        </th>
                                        <th width="8%" scope="col" class="p-0 min-width-1">
                                            <button class="btn btn-sm w-100"><i class="bi bi-eye"></i></button>                                      
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!isFetchingData">
                                    <tr *ngFor="let data of purchasingListData">
                                        <td>{{getFormatId(data?.data().purchasing_code)}}</td>
                                        <td>{{data?.data().purchasing_date | date: 'short'}}</td>
                                        <td>{{data?.data().total_price | currency:'GBP'}}</td>
                                        <td class="p-0">
                                            <button class="btn btn-sm btn-success border w-100" (click)="gotoPurchasing(data.id)">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="isFetchingData || !isDataAvailable">
                                    <tr>
                                        <td colspan="4">
                                            <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">

                        <app-table-paginator [(currentPage)]="currentPage" [pageSize]="pageSize" [totalPages]="totalPages" (pageData)="getSupplierPurchasingList()"></app-table-paginator>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
