<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/inventory/suppliers/all-suppliers">All suppliers</a>
    </li>
    <li class="breadcrumb-item active">New supplier</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">

                <p class="lead">Add New supplier</p>
                
                <div class="row">
                    <div class="col">

                        <!-- supplier form component -->
                        <app-supplier-form></app-supplier-form>
                        
                        <div class="row mt-3 float-end">
                            <div class="col">
                                <button class="btn btn-sm btn-success ms-2 form-control-btn">Save</button>
                                <button class="btn btn-sm btn-warning ms-2 form-control-btn">Cancel</button>
                            </div>
                        </div>                        

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>