<form [formGroup]="incidentForm">
    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Incident ID :</label></div>
        <div class="col-md-8">
            <input formControlName="incidentCode" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4">
            <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Incident Subject :</label>
        </div>
        <div class="col-md-8">
            <input formControlName="incidentSubject" class="form-control form-control-sm w-100" [ngClass]="{ 'is-invalid': isSaved && incidentForm.controls.incidentSubject.invalid }" required>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Incident Type :</label></div>
        <div class="col-md-8">
            <input formControlName="incidentType" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Incident Date :</label></div>
        <div class="col-md-8">
            <input formControlName="incidentDate" type="datetime-local" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Incident Status :</label></div>
        <div class="col-md-8">
            <select formControlName="incidentStatus" class="form-control form-control-sm w-100">
                <option value="Unresolved">Unresolved</option>
                <option value="Resolved">Resolved</option>
            </select>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4">
            <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Reported to :</label>
        </div>
        <div class="col-md-8">
            <div class="input-group input-group-sm w-100">
                <input formControlName="reportedTo" class="form-control" [ngClass]="{ 'is-invalid': isSaved && incidentForm.controls.reportedTo.invalid }" required>
                <button type="button" class="btn btn-secondary" (click)="openUserRoleWindow.emit()">
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>
    </div>
</form>