<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/maintenance/contractors/all-contractors">All contractors</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/maintenance/contractors/edit-contractor">Edit Contractor</a>
    </li>
    <li class="breadcrumb-item active">Contractor History</li>
</ol>

<div class="row mb-4">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">

                <p class="lead">Contractor Details</p>
                
                <form [formGroup]="contractorForm">

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Contractor ID :</label></div>
                        <div class="col-md-8">
                            <input formControlName="contractorCode" class="form-control form-control-sm w-100">
                        </div>
                    </div>
                    
                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Contractor Name :</label></div>
                        <div class="col-md-8">
                            <input formControlName="contractorName" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Contractor Type :</label></div>
                        <div class="col-md-8">
                            <input formControlName="contractorType" class="form-control form-control-sm w-100">
                        </div>
                    </div>
                
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">Contractor's Maintenance Services History</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary btn-sm add-item-btn" routerLink="/modules/maintenance/services/new-service">New Service</button>
                        <input [(ngModel)]="filterText" (change)="getContractorServiceList()" class="form-control form-control-sm w-25 float-end" type="search" placeholder="search maintenance services">
                        <button [disabled]="isFetchingData" (click)="getContractorServiceList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <div class="overflow-auto">                    
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th width="17%" scope="col">
                                            <app-table-sorting [fieldTitle]="'Service ID'" [thisColumn]="'service_code'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getContractorServiceList()"></app-table-sorting>
                                        </th>
                                        <th width="35%" scope="col">
                                            <app-table-sorting [fieldTitle]="'Service Subject'" [thisColumn]="'service_subject'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getContractorServiceList()"></app-table-sorting>
                                        </th>
                                        <th width="20%" scope="col">
                                            <app-table-sorting [fieldTitle]="'Date From'" [thisColumn]="'date_from'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getContractorServiceList()"></app-table-sorting>
                                        </th>
                                        <th width="20%" scope="col">
                                            <app-table-sorting [fieldTitle]="'Date To'" [thisColumn]="'date_to'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getContractorServiceList()"></app-table-sorting>
                                        </th>
                                        <th width="8%" scope="col" width="8%" class="p-0">
                                            <button class="btn btn-sm w-100"><i class="bi bi-eye"></i></button>                                      
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!isFetchingData">
                                    <tr *ngFor="let data of serviceListData">
                                        <td>{{data?.data().service_code}}</td>
                                        <td>{{data?.data().service_subject}}</td>
                                        <td>{{data?.data().date_from | date: 'short'}}</td>
                                        <td>{{data?.data().date_to | date: 'short'}}</td>
                                        <td class="p-0">
                                            <button class="btn btn-sm btn-success border w-100" (click)="gotoService(data.id)">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                        </td>
                                    </tr> 
                                </tbody>
                                <tbody *ngIf="isFetchingData || !isDataAvailable">
                                    <tr>
                                        <td colspan="5">
                                            <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">

                        <app-table-paginator [(currentPage)]="currentPage" [pageSize]="pageSize" [totalPages]="totalPages" (pageData)="getContractorServiceList()"></app-table-paginator>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
