<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/attendance/roster/all-roster">All Roster</a>
    </li>
    <li class="breadcrumb-item active">View roster</li>
</ol>

<div class="row">

    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">View Roster</p>
                
                <div class="row">
                    <div class="col">

                        <form [formGroup]="rosterForm">

                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Roster ID :</label></div>
                                <div class="col-md-8">
                                    <input formControlName="rosterCode" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4">
                                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Roster Name :</label>
                                </div>
                                <div class="col-md-8">
                                    <input formControlName="rosterName" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4">
                                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>From Date :</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="date" formControlName="fromDate" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4">
                                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>To Date :</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="date" formControlName="toDate" class="form-control form-control-sm w-100">
                                </div>
                            </div>
                            
                            <div class="row mt-3 float-end">
                                <div class="col">
                                    <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isFetchingData || isSavingRoster" (click)="updateRoster()">Save</button>
                                    <button class="btn btn-sm btn-danger ms-2 form-control-btn" [disabled]="isFetchingData || isDeletingRoster" (click)="confirmDelete()">Delete</button>
                                    <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/attendance/roster">Cancel</button>
                                </div>
                            </div>      
                            
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">

                        <p class="lead">Roster Shifts</p>
                        
                        <div class="row">
                            <div class="col">

                                <!-- all shifts component -->
                                
                                <app-all-shifts></app-all-shifts>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
        
                        <p class="lead">Roster Batches</p>
                        
                        <button class="btn btn-light bordered" routerLink="/modules/attendance/roster/manage-batches">
                            Manage Batches
                            <i class="bi bi-arrow-right ms-3"></i>
                        </button>
        
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>

<div class="row">
    <div class="col">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Roster Sheet</p>
                
                <div class="row">
                    <div class="col">

                        <!-- roster sheet component -->

                        <app-roster-sheet></app-roster-sheet>

                    </div>
                </div>

            </div>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col">
        <div class="row">
            <div class="offset-md-8 col-md-4">
                
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                            
                        <button class="btn btn-light border" (click)="onPrint()">
                            <i class="bi bi-printer me-3"></i>
                            Print Roster Sheet
                        </button>

                    </div>
                </div>
            
                
            </div>
        </div>
    </div>
</div>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-one #deleteModalOneComponentReference (confirmEvent)="deleteRoster()"></app-delete-modal-one>
