<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/maintenance/services/all-services">All Services</a>
    </li>
    <li class="breadcrumb-item active">New Maintenance</li>
</ol>

<div class="row">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">

                <p class="lead">Add New Maintenance Serivce</p>
                
                <div class="row">
                    <div class="col">

                        <!-- maintenance service form component -->
                        <app-maintenance-service-form></app-maintenance-service-form>
                        
                        <div class="row mt-3 float-end">
                            <div class="col">
                                <button class="btn btn-sm btn-success ms-2 form-control-btn">Save</button>
                                <button class="btn btn-sm btn-warning ms-2 form-control-btn">Cancel</button>
                            </div>
                        </div>                        

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>