<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/maintenance/services/all-services">All Services</a>
    </li>
    <li class="breadcrumb-item active">New Service</li>
</ol>

<div class="row">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">

                <p class="lead">Add New Maintenance Service</p>
                
                <div class="row">
                    <div class="col">

                        <!-- maintenance service form component -->
                        
                        <app-maintenance-service-form #maintenanceServiceFormComponentReference (openSystemWindow)="openSystemWindow()" (openContractorWindow)="openContractorWindow()"></app-maintenance-service-form>
                        
                        <div class="row mt-3 float-end">
                            <div class="col">
                                <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isSavingService" (click)="createService()">Save</button>
                                <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/maintenance/services">Cancel</button>
                            </div>
                        </div>                          

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- select system window -->

<app-select-system #selectSystemComponentReference (rowSelected)="onSystemSelected($event)"></app-select-system>

<!-- select contractor window -->

<app-select-contractor #selectContractorComponentReference (rowSelected)="onContractorSelected($event)"></app-select-contractor>
