<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/admin/branches/all-branches">All Branches</a>
    </li>
    <li class="breadcrumb-item active">New Branch</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">

                <p class="lead">Add New Branch</p>
                
                <div class="row">
                    <div class="col">
                        
                        <form [formGroup]="branchForm">
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Branch Name :</label></div>
                                <div class="col-md-8">
                                    <input formControlName="branchName" class="form-control form-control-sm w-100">
                                </div>
                            </div>
                            
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Location :</label></div>
                                <div class="col-md-8">
                                    <input formControlName="location" class="form-control form-control-sm w-100">
                                </div>
                            </div>
                    
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Special Features :</label></div>
                                <div class="col-md-8">
                                    <textarea formControlName="specialFeatures" rows="3" class="form-control form-control-sm w-100"></textarea>
                                </div>
                            </div>
                                    
                            <div class="row mt-3 float-end">
                                <div class="col">
                                    <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isSavingBranch" (click)="createBranch()">Save</button>
                                    <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/admin/branches">Cancel</button>
                                </div>
                            </div>                        
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
