<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Attendance</li>
</ol>

<div class="row">
    <div class="col-md-7">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                
                <p class="lead">Attendance</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary btn-sm add-item-btn" (click)="newAttendance.openModal()">New Attendance</button>
                        <input [(ngModel)]="filterText" (change)="getAttendanceList()" class="form-control form-control-sm w-25 float-end" type="search" placeholder="search attendance">
                        <button [disabled]="isFetchingData" (click)="getAttendanceList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <div class="overflow-auto">                    
                            <table class="table table-sm table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th width="30%" scope="col" class="min-wisth-2">
                                            <app-table-sorting [fieldTitle]="'Attendance ID'" [thisColumn]="'attendance_code'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getAttendanceList()"></app-table-sorting>
                                        </th>
                                        <th width="70%" scope="col" class="min-wisth-4">
                                            <app-table-sorting [fieldTitle]="'Attendance Name'" [thisColumn]="'attendance_name'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getAttendanceList()"></app-table-sorting>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!isFetchingData">
                                    <tr *ngFor="let data of attendanceListData" (dblclick)="viewAttendance(data?.id)">
                                        <td>{{data?.data().attendance_code}}</td>
                                        <td>{{data?.data().attendance_name}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="isFetchingData || !isDataAvailable">
                                    <tr>
                                        <td colspan="2">
                                            <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">

                        <app-table-paginator [(currentPage)]="currentPage" [pageSize]="pageSize" [totalPages]="totalPages" (pageData)="getAttendanceList()"></app-table-paginator>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- new-attendance modal component -->

<app-new-attendance #newAttendanceComponentReference></app-new-attendance>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>