<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/inventory/items/all-stock-item">All Stock Items</a>
    </li>
    <li class="breadcrumb-item active">View Stock Item</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">View Stock Item</p>
                
                <div class="row">
                    <div class="col">

                        <!-- item category form component -->

                        <app-stock-item-form #stockItemFormComponentReference (openCategoryWindow)="openItemCategoryWindow()"></app-stock-item-form>
                        
                        <div class="row mt-3 float-end">
                            <div class="col">
                                <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isFetchingData || isSavingItem" (click)="updateStockItem()">Save</button>
                                <button class="btn btn-sm btn-danger ms-2 form-control-btn" [disabled]="isFetchingData || isDeletingItem" (click)="confirmDelete()">Delete</button>
                                <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/inventory/items">Cancel</button>
                            </div>
                        </div>                     

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- select item category window component -->

<app-select-item-category #selectItemCategoryComponentReference (rowSelected)="onItemCategorySelected($event)"></app-select-item-category>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-one #deleteModalOneComponentReference (confirmEvent)="deleteStockItem()"></app-delete-modal-one>
