<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/factory-main/factory-orders/all-daily-factory-orders">All Daily Factory Orders</a>
    </li>
    <li class="breadcrumb-item active">View Daily Factory Order</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                
                <p class="lead">Daily Factory Order</p>

                <div class="row mb-3">
                    <div class="col">                        
                        <button [disabled]="isFetchingData" (click)="getBranchList()" class="btn btn-light btn-sm border float-end page-refresh-btn">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <div class="overflow-auto">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th width="10%" scope="col" rowspan="2" class="min-width-2">Item ID</th>
                                        <th width="20%" scope="col" rowspan="2" class="min-width-6">Item Name</th>
                                        <th width="10%" scope="col" rowspan="2" class="min-width-2">Item Price</th>
                                        <th *ngFor="let branch of branchListData" colspan="2" scope="col" class="min-width-3">
                                            <ng-container *ngFor="let branch of branchListData">
                                                {{branch.data().branch_name}}
                                            </ng-container>
                                        </th>
                                        <th scope="col" rowspan="2" class="min-width-3">Total Quantity</th>
                                        <th scope="col" rowspan="2" class="min-width-3">Total Price</th>
                                    </tr>
                                    <tr>
                                        <ng-container *ngFor="let branch of branchListData">
                                            <ng-container *ngIf="branch.data().branch_name != 'Head Office'">
                                                <th scope="col" class="min-width-2">Quantity</th>
                                                <th scope="col" class="min-width-2">Price</th>
                                            </ng-container>
                                        </ng-container>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!isFetchingData">
                                    <tr *ngFor="let data of factoryItemListData">
                                        <td>{{getFormatId(data?.data().item_code)}}</td>
                                        <td>{{data?.data()?.item_name}}</td>
                                        <td>{{data?.data()?.price | currency: 'GBP'}}</td>
                                        <ng-container *ngFor="let branch of branchListData">
                                            <ng-container *ngIf="branch.data().branch_name != 'Head Office'">
                                                <td>
                                                    <span *ngFor="let item of orderItemListData">
                                                        <span *ngIf="branch?.id == item?.data()?.order?.data?.branch?.id && data?.id == item?.data()?.factory_item?.id">
                                                            <span *ngIf="item.data().quantity != 0">{{item.data().quantity}}</span>
                                                        </span>
                                                    </span>
                                                </td>
                                            </ng-container>
                                            <td>
                                                <span *ngFor="let item of orderItemListData">
                                                    <span *ngIf="branch?.id == item?.data()?.order?.data?.branch?.id && data?.id == item?.data()?.factory_item?.id">
                                                        <span *ngIf="item.data().quantity != 0">{{(item.data().quantity * item?.data()?.factory_item?.data?.price) | currency: 'GBP'}}</span>
                                                    </span>
                                                </span>
                                            </td>
                                        </ng-container>
                                        <td>{{ getTotalQuantity(data.id) }}</td>
                                        <td>{{ getTotalPriceForItem(data.id) | currency: 'GBP' }}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="isFetchingData || !isDataAvailable">
                                    <tr>
                                        <td colspan="22">
                                            <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot class="bg-light">
                                    <tr>
                                        <td colspan="3"></td>
                                        <ng-container *ngFor="let branch of branchListData">
                                            <ng-container *ngIf="branch.data().branch_name != 'Head Office'">
                                                <td scope="col"></td>
                                                <td scope="col">{{getTotalPriceForBranch(branch?.id) | currency:'GBP'}}</td>
                                            </ng-container>
                                        </ng-container>
                                        <td colspan="2"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>