<p class="h2 mt-4">House-Keeping</p>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Tasks - To Do </div>
                        <div class="h4 mb-0">{{todoTasks}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Units</div>
                        <div class="h3 mb-0">{{numberOfUnits}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    
    <div class="col-md-3 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col mr-2">
                        <div class="h6 mb-3">Incidents <span class="text-muted">| this week</span></div>
                        <div class="h3 mb-0">{{incidentsThisWeek}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-body">

                <div class="h6 m-0">Incidents <span class="text-muted">| this week</span></div>
            
                <canvas id="incidentsLineChart"></canvas>

            </div>
        </div>
    </div>
</div>
