<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Products</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">Products</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary btn-sm add-item-btn" routerLink="/modules/orders/products/new-product">New Product</button>
                        
                        <input class="form-control form-control-sm w-25 float-end" type="search" placeholder="search products">
                        <button [disabled]="isFetchingData" (click)="getProductList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                        <!-- <button (click)="onPrint()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-printer"></i>
                        </button> -->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Product ID'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Product Name'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Price'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of productListData" (dblclick)="viewProduct(data?.id)">
                                    <td>{{data?.data().product_code}}</td>
                                    <td>{{data?.data().product_name}}</td>
                                    <td>{{data?.data().price}}</td>
                                </tr>
                                <tr *ngIf="isFetchingData || !isDataAvailable">
                                    <td colspan="3">
                                        <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <app-table-paginator
                                        (pageSelected)="changePage($event)" [currentPageNumber]="currentPageNumber" [currentPageSize]="currentPageSize" (pageSelected)="getProductList()"
                                        ></app-table-paginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>