<button [hidden]="true" #editButtonElementReference data-bs-toggle="modal" data-bs-target="#editItemModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="editItemModal" tabindex="-1" aria-labelledby="editItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="editItemModalLabel">Edit Checklist Item</span>
                <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="row mb-1">
                    <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Checlist Item No. :</label></div>
                    <div class="col-md-8">
                        <input type="number" min="0" class="form-control form-control-sm w-100">
                    </div>
                </div>
                
                <div class="row mb-1">
                    <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Description :</label></div>
                    <div class="col-md-8">
                        <textarea rows="3" class="form-control form-control-sm w-100"></textarea>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-success form-control-btn">Save</button>
                <button class="btn btn-sm btn-danger form-control-btn">Delete</button>
                <button class="btn btn-sm btn-warning form-control-btn" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

