<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Users</li>
</ol>

<div class="row">
    <div class="col-md-9">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">Users</p>
                
                <div class="row mb-3">
                    <div class="col">
                        <input class="form-control form-control-sm w-25 float-end" type="search" placeholder="search users">
                        <button [disabled]="isFetchingData" (click)="getBasicUserList()" class="btn btn-sm btn-light border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'User ID'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'User Name'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Branch'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'user Role'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of userListData" (dblclick)="viewUserDetails(data?.id)">
                                    <td>{{data?.data().user_code}}</td>
                                    <td>{{data?.data().full_name}}</td>
                                    <td>{{data?.data().branch}}</td>
                                    <td>{{data?.data().user_role}}</td>
                                </tr>
                                <tr *ngIf="isFetchingData || !isDataAvailable">
                                    <td colspan="4">
                                        <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <app-table-paginator
                                        (pageSelected)="changePage($event)" [currentPageNumber]="currentPageNumber" [currentPageSize]="currentPageSize" (pageSelected)="getBasicUserList()"
                                        ></app-table-paginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
