<form [formGroup]="personnelForm">

    <div class="row mb-1">
        <div class="col-md-4">
            <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Staff ID :</label>
        </div>
        <div class="col-md-8">
            <div class="input-group input-group-sm w-100">
                <input formControlName="staffCode" class="form-control">
                <button type="button" class="btn btn-secondary" (click)="openUserRoleWindow.emit()">
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4">
            <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Staff Name :</label>
        </div>
        <div class="col-md-8">
            <div class="input-group input-group-sm w-100">
                <input formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': isSaved && personnelForm.controls.fullName.invalid }" required>
                <button type="button" class="btn btn-secondary" (click)="openUserRoleWindow.emit()">
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4">
            <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Batch :</label>
        </div>
        <div class="col-md-8">
            <div class="input-group input-group-sm w-100">
                <input formControlName="batchSymbol" class="form-control" [ngClass]="{ 'is-invalid': isSaved && personnelForm.controls.batchSymbol.invalid }" required>
                <button type="button" class="btn btn-secondary" (click)="openBatchWindow.emit()">
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>
    </div>

</form>      