<div class="row mb-3">
    <div class="col">
        <button class="btn btn-sm btn-primary add-item-btn" (click)="addChecklist.openModal(lastItem)">Add Checklist Item</button>
    </div>
</div>

<div class="row">
    <div class="col">

        <div class="overflow-auto">
            <table class="table table-sm table-hover w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <td width="20%">Item No.</td>
                        <td width="80%">Item Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of checklistListData" (dblclick)="openEditItem(data)">
                        <td>{{data?.data().item_number}}</td>
                        <td>{{data?.data().description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- add and edit checlist items modal components -->

<app-add-checklist #addChecklistComponentReference (saveItemEvent)="createCategoryChecklist($event)"></app-add-checklist>

<app-edit-checklist #editChecklistComponentReference (saveItemEvent)="updateCategoryChecklist($event)" (deleteItemEvent)="confirmDelete($event)"></app-edit-checklist>

<!-- delete confirmation modal component -->

<app-delete-modal-two #deleteModalTwoComponentReference (confirmEvent)="deleteCategoryChecklist()"></app-delete-modal-two>
