<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/maintenance/issues/all-issues">All Issues</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/maintenance/issues/view-issue">View Issue</a>
    </li>
    <li class="breadcrumb-item active">Issue Pictures</li>
</ol>

<div class="row">
    <div class="col">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Inspection Pictures</p>

                <div class="row mb-5">
                    <div class="col">
                        <input #imageInput [hidden]="true" type="file" multiple accept="image/*" class="d-none" (change)="onFileSelected($event)"/>
                        <button class="btn btn-primary btn-sm add-item-btn" (click)="imageInput.click()">Add Image</button>
                    </div>
                </div>

                <div class="row text-center">
                    <div *ngIf="isUploading" class="col-md-3 mb-5">
                        <div class="card border rounded mx-auto img-pointer" [style.width.px]="180" [style.height.px]="150" (click)="imageInput.click()">
                            <div class="card-img-top text-center m-auto">
                                <div class="spinner-border text-primary m-4" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngFor="let data of issueImageListData" class="col-md-3 mb-5">
                        <a [href]="data?.data().url" class="thumbnail">
                            <div class="card-img-top text-center m-auto position-relative" [style.width.px]="180" [style.height.px]="150">
                                <img class="image-thumbnail border rounded w-100 h-100" [src]="data?.data().url"/>
                                <button class="btn btn-outline-danger btn-sm position-absolute bottom-0 end-0 m-2" (click)="confirmDelete($event, data.id)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </a>
                    </div>                    
                </div>

            </div>
        </div>
    </div>
</div>

<!-- delete modal -->

<app-delete-modal-one #deleteModalOneComponentReference (confirmEvent)="deleteIssueImage()"></app-delete-modal-one>
