<div class="card shadow-lg border-0 rounded-lg mt-5 p-4">
    <div class="card-body">
        <h3 class="text-center font-weight-light my-4">Terms of Contract</h3>
        <hr>

        <div *ngIf="!showPrompt">
            <div class="text-center mt-4 mb-2">
                <!-- TODO: implement forms upload functionality -->
                <button class="btn btn-success px-4">
                    <i class="bi bi-download me-3"></i>
                    Download Terms
                </button>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-auto">
                    <div class="form-check">
                        <input [(ngModel)]="termsAcceptanceStatus" [disabled]="isFetchingData" class="form-check-input" type="checkbox" id="exampleCheckbox">
                        <label class="form-check-label" for="exampleCheckbox">
                            Accept the terms of contract
                        </label>
                    </div>
                </div>
            </div>            

            <div class="page-form-btn mt-4">
                <button [disabled]="isSavingBasic" class="btn btn-sm btn-secondary float-start form-control-btn" routerLink="/settings/availability">Back</button>
                <button [disabled]="!termsAcceptanceStatus || isSavingBasic || isFetchingData" (click)="updateBasic()" class="btn btn-sm btn-primary float-end form-control-btn">Submit</button>
            </div>
        </div>
            
        <div *ngIf="showPrompt && termsAcceptanceStatus" class="row p5 text-center">
            <div class="col">
                <img src="../../../../assets/images/success.png" class="mb-4 prompt-image mx-auto">
                <p class="lead">Thank you!</p>
                <p class="lead">User Profile successfully submitted</p>
                <p>Your admin will confirm your data and assign you to your branch</p>
                <div class="d-grid gap-2 mt-5">
                    <button routerLink="/settings" class="btn btn-primary btn-lg">Set Profile</button>
                </div>
            </div>
        </div>

    </div>
</div>