<div class="card shadow-lg border-0 rounded-lg mt-5 p-4">
    <div class="card-body">
        <h3 class="text-center font-weight-light my-4">Additional Info</h3>
        <hr>
        <form [formGroup]="additionalForm" (ngSubmit)="setAdditionalUser()">
            <div class="mb-3">
                <label for="nationalityInput" class="form-label">Nationality</label>
                <input formControlName="nationality" type="text" class="form-control form-control-sm" id="nationalityInput">
            </div>
            <div class="mb-3">
                <label for="religionInput" class="form-label">Religion</label>
                <input formControlName="religion" type="text" class="form-control form-control-sm" id="religionInput">
            </div>
            <div class="mb-3">
                <label for="maritalStatusSelect" class="form-label">Marital Status</label>
                <select formControlName="maritalStatus" class="form-control form-control-sm" id="maritalStatusSelect">
                    <option value="Married">Married</option>
                    <option value="Single">Single</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="ecNameInput" class="form-label">Emergency Contact Name</label>
                <input formControlName="eContactName" type="text" class="form-control form-control-sm" id="ecNameInput">
            </div>
            <div class="mb-3">
                <label for="ecNumberInput" class="form-label">Emergency Contact Number</label>
                <input formControlName="eContactNumber" type="tel" class="form-control form-control-sm" id="ecNumbertInput">
            </div>

            <div class="mt-4">
                <button [disabled]="isSavingAdditional" type="button" class="btn btn-sm btn-secondary float-start form-control-btn" routerLink="/settings/basic">Back</button>
                <button [disabled]="isFetchingData || isSavingAdditional" type="submit" class="btn btn-sm btn-primary float-end form-control-btn">Next</button>
            </div>
        </form>
    </div>
</div>