<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectUserModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectUserModal" tabindex="-1" aria-labelledby="selectUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectUserModalLabel">Select User</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">
                                <app-table-sorting [fieldTitle]="'User ID'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                            </th>
                            <th scope="col">
                                <app-table-sorting [fieldTitle]="'User Name'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                            </th>
                            <th scope="col">
                                <app-table-sorting [fieldTitle]="'Branch'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                            </th>
                            <th scope="col">
                                <app-table-sorting [fieldTitle]="'user Role'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of userListData" (dblclick)="selectRow(data)">
                            <td>{{data?.data().staff_code}}</td>
                            <td>{{data?.data().full_name}}</td>
                            <td>{{data?.data().branch.data.branch_name}}</td>
                            <td>{{data?.data().staff_role}}</td>
                        </tr>
                        <tr *ngIf="isFetchingData || !isDataAvailable">
                            <td colspan="4">
                                <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <app-table-paginator
                                (pageSelected)="changePage($event)" [currentPageNumber]="currentPageNumber" [currentPageSize]="currentPageSize" (pageSelected)="getUserRoleList()"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>                                 
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
