<form [formGroup]="systemForm">
    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">System ID :</label></div>
        <div class="col-md-8">
            <input formControlName="systemCode" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4">
            <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>System Name :</label>
        </div>
        <div class="col-md-8">
            <input formControlName="systemName" class="form-control form-control-sm w-100" [ngClass]="{ 'is-invalid': isSaved && systemForm.controls.systemName.invalid }" required>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">System Type :</label></div>
        <div class="col-md-8">
            <input formControlName="systemType" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Location :</label></div>
        <div class="col-md-8">
            <input formControlName="location" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">System Condition :</label></div>
        <div class="col-md-8">
            <input formControlName="condition" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Description :</label></div>
        <div class="col-md-8">
            <textarea formControlName="description" rows="3" class="form-control form-control-sm w-100"></textarea>
        </div>
    </div>
</form>