<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/maintenance/issues/all-issues">All Issues</a>
    </li>
    <li class="breadcrumb-item active">View Issue</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">View Maintenance Issue</p>
                
                <div class="row">
                    <div class="col">

                        <!-- maintenance issue form component -->
                        
                        <app-maintenance-issue-form #maintenanceIssueFormComponentReference (openSystemWindow)="openSystemWindow()" (openUserRoleWindow)="openUserRoleWindow()"></app-maintenance-issue-form>
                        
                        <div class="row mt-3 float-end">
                            <div class="col">
                                <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isFetchingData || isSavingIssue" (click)="updateIssue()">Save</button>
                                <button class="btn btn-sm btn-danger ms-2 form-control-btn" [disabled]="isFetchingData || isDeletingIssue" (click)="confirmDelete()">Delete</button>
                                <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/maintenance/issues">Cancel</button>
                            </div>
                        </div>                      

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead mb-4">Maintenance Issue Pictures</p>

                <div class="row mb-4 text-center">
                    <div *ngFor="let data of issueImageListData" class="col-md-6 mb-4">
                        <img class="image-thumbnail border rounded" [src]="data?.data().url" style="width: 120px; height: 100px;"/>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col">
                        <button class="btn btn-light border" routerLink="/modules/maintenance/issues/issue-images">
                            View All Pictures
                            <i class="bi bi-arrow-right ms-3"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-one #deleteModalOneComponentReference (confirmEvent)="deleteIssue()"></app-delete-modal-one>

<!-- select system window -->

<app-select-system #selectSystemComponentReference (rowSelected)="onSystemSelected($event)"></app-select-system>

<!-- select user role window -->

<app-select-user-role #selectUserRoleComponentReference (rowSelected)="onUserRoleSelected($event)"></app-select-user-role>
