<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectServiceModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectServiceModal" tabindex="-1" aria-labelledby="selectServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectServiceModalLabel">Select Maintenance Service</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-sm table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="25%" scope="col" class="min-with-2">
                                <app-table-sorting [fieldTitle]="'Service ID'" [thisColumn]="'service_code'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getServiceList()"></app-table-sorting>
                            </th>
                            <th width="50%" scope="col" class="min-with-5">
                                <app-table-sorting [fieldTitle]="'Service Subject'" [thisColumn]="'service_subject'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getServiceList()"></app-table-sorting>
                            </th>
                            <th width="35%" scope="col" class="min-with-4">
                                <app-table-sorting [fieldTitle]="'Contractor Name'" [thisColumn]="'contractor_name'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getServiceList()"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!isFetchingData">
                        <tr *ngFor="let data of serviceListData" (dblclick)="selectRow(data)">
                            <td>{{data?.data().service_code}}</td>
                            <td>{{data?.data().service_subject}}</td>
                            <td>{{data?.data().date_from | date: 'short'}}</td>
                            <td>{{data?.data().date_to | date: 'short'}}</td>
                            <td>{{data?.data().contractor.data.contractor_name}}</td>
                        </tr> 
                    </tbody>
                    <tbody *ngIf="isFetchingData || !isDataAvailable">
                        <tr>
                            <td colspan="5">
                                <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
