<nav class="sb-topnav navbar navbar-expand navbar-{{themeClass}} bg-{{themeClass}}">
    <!-- Navbar Brand-->
    <a class="navbar-brand px-3" href="/#/landing">
        <img src="../../../assets/images/murger-han/mh.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top rounded me-2">
        Murger Han Hub
    </a>
  
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="bi bi-list"></i></button>

    <!-- Navbar-->
    <ul *ngIf="isLoggedIn && !isAuthLoading" class="navbar-nav ms-auto me-3">
        <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle" id="navbarNotificationsDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-bell-fill"></i>
                <span *ngIf="notificationAlerts != 0" class="position-absolute top-1 start-100 translate-middle badge rounded-pill bg-danger">
                    {{notificationAlerts}}
                    <span class="visually-hidden">unread messages</span>
                </span>                
            </a>
            <ul class="dropdown-menu dropdown-menu-end notifications-dropdown" aria-labelledby="navbarNotificationsDropdown">
                <li *ngFor="let data of notificationsData">
                    <a class="small dropdown-item" href="#!" (click)="viewNotification($event, data)">
                        <div *ngIf="data.data().hasOwnProperty('incident_status')">
                            <p class="m-0 p-0 fw-bold small">Incident</p>
                            <p class="m-0 p-0 notification-description">{{data.data().incident_subject}}</p>
                            <p class="m-0 p-0 text-warning fw-bold small" [ngClass]="{ 'text-warning': data.data().incident_status == 'Unresolved' }">{{data.data().incident_status}}</p>
                        </div>
                        <div *ngIf="data.data().hasOwnProperty('issue_status')">
                            <p class="m-0 p-0 text-muted">Issue</p>
                            <p class="m-0 p-0 notification-description">{{data.data().issue_subject}}</p>
                            <p class="m-0 p-0 text-warning fw-bold small" [ngClass]="{ 'text-warning': data.data().issue_status == 'Needs Fixing' }">{{data.data().issue_status}}</p>
                        </div>
                    </a>
                    <hr class="dropdown-divider" />
                </li>
                <li *ngIf="notificationsData.length == 0">
                    <p class="small text-center text-muted p-3">No notifications available</p>
                    <hr class="dropdown-divider" />
                </li>
                <li>
                    <a class="small dropdown-item" href="#!" routerLink="/notifications">
                        View all notifications
                        <i class="bi bi-arrow-right ms-3"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle" id="navbarUserDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end user-dropdown" aria-labelledby="navbarUserDropdown">
                <li><p class="ms-3 user-info">{{email}}</p></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="small dropdown-item" href="#!" routerLink="/settings">Settings</a></li>
                <li><a class="small dropdown-item" href="#!" (click)="logout()">Logout</a></li>
            </ul>
        </li>
    </ul>
    <button *ngIf="!isLoggedIn && !isAuthLoading" routerLink="/auth/login" class="btn btn-sm btn-success ms-auto me-3 login-btn">
        Login
    </button>
    <button *ngIf="isAuthLoading" disabled class="btn btn-sm btn-secondary ms-auto me-3 login-btn">.</button>
</nav>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-{{themeClass}}" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">

                    <span class="navbar-text ms-3">
                        {{branchName}}
                    </span>                  

                    <div class="sb-sidenav-menu-heading">Core</div>

                    <!-- admin module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAdmin" aria-expanded="false" aria-controls="collapseAdmin">
                        <div class="sb-nav-link-icon"><i class="bi bi-speedometer2"></i></div>
                        Admin
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseAdmin" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <!-- <a class="nav-link nav-router-link" href="#" routerLink="/modules/admin/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>                             -->
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/admin/branches">
                                <div class="sb-nav-link-icon"><i class="bi bi-buildings-fill"></i></div>
                                Branches
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#adminCollapseReports" aria-expanded="false" aria-controls="adminCollapseReports">
                                <div class="sb-nav-link-icon"><i class="bi bi-file-earmark-spreadsheet-fill"></i></div>Reports
                                <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                            </a>
                            <div class="collapse" id="adminCollapseReports" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link nav-router-link" href="#" routerLink="/modules/admin/reports/orders">
                                        <div class="sb-nav-link-icon"><i class="bi bi-record-circle"></i></div>
                                        Orders
                                    </a>
                                    <a class="nav-link nav-router-link" href="#" routerLink="/modules/admin/reports/housekeeping">
                                        <div class="sb-nav-link-icon"><i class="bi bi-record-circle"></i></div>
                                        House-Keeping
                                    </a>
                                    <a class="nav-link nav-router-link" href="#" routerLink="/modules/admin/reports/attendance">
                                        <div class="sb-nav-link-icon"><i class="bi bi-record-circle"></i></div>
                                        Attendance
                                    </a>
                                    <a class="nav-link nav-router-link" href="#" routerLink="/modules/admin/reports/inventory">
                                        <div class="sb-nav-link-icon"><i class="bi bi-record-circle"></i></div>
                                        Inventory
                                    </a>
                                    <a class="nav-link nav-router-link" href="#" routerLink="/modules/admin/reports/maintenance">
                                        <div class="sb-nav-link-icon"><i class="bi bi-record-circle"></i></div>
                                        Maintenance
                                    </a>
                                </nav>
                            </div>
                            <!-- <a class="nav-link nav-router-link" href="#" routerLink="/modules/admin/logs">
                                <div class="sb-nav-link-icon"><i class="bi bi-card-list"></i></div>
                                Activity Logs
                            </a> -->
                            <!-- <a class="nav-link nav-router-link" href="#" routerLink="/modules/admin/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a> -->
                        </nav>
                    </div>

                    <!-- users module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                        <div class="sb-nav-link-icon"><i class="bi bi-people"></i></div>
                        Users
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseUsers" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <!-- <a class="nav-link nav-router-link" href="#" routerLink="/modules/users/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>                             -->
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/users/users">
                                <div class="sb-nav-link-icon"><i class="bi bi-people-fill"></i></div>
                                Staff Users
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/users/third-party">
                                <div class="sb-nav-link-icon"><i class="bi bi-person-badge-fill"></i></div>
                                Third Party Users
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/users/invitations">
                                <div class="sb-nav-link-icon"><i class="bi bi-envelope-fill"></i></div>
                                Invitations
                            </a>
                            <!-- <a class="nav-link nav-router-link" href="#" routerLink="/modules/users/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a> -->
                        </nav>
                    </div>

                    <div class="sb-sidenav-menu-heading">Modules</div>

                    <!-- orders module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOrders" aria-expanded="false" aria-controls="collapseOrders">
                        <div class="sb-nav-link-icon"><i class="bi bi-cart4"></i></div>
                        Orders
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseOrders" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/orders/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>                            
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/orders/products">
                                <div class="sb-nav-link-icon"><i class="bi bi-tag-fill"></i></div>
                                Products
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/orders/orders">
                                <div class="sb-nav-link-icon"><i class="bi bi-truck"></i></div>
                                Orders
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/orders/vendors">
                                <div class="sb-nav-link-icon"><i class="bi bi-postcard-fill"></i></div>
                                Customers
                            </a>
                            <!-- <a class="nav-link nav-router-link" href="#" routerLink="/modules/orders/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a> -->
                        </nav>
                    </div>

                    <!-- house-keeping module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseHousekeeping" aria-expanded="false" aria-controls="collapseHousekeeping">
                        <div class="sb-nav-link-icon"><i class="bi bi-list-check"></i></div>
                        House-Keeping
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseHousekeeping" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/housekeeping/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>                            
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/housekeeping/tasks">
                                <div class="sb-nav-link-icon"><i class="bi bi-list-task"></i></div>
                                Tasks
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/housekeeping/units">
                                <div class="sb-nav-link-icon"><i class="bi bi-building-fill"></i></div>
                                Units
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/housekeeping/incidents">
                                <div class="sb-nav-link-icon"><i class="bi bi-exclamation-diamond-fill"></i></div>
                                Incidents
                            </a>
                            <!-- <a class="nav-link nav-router-link" href="#" routerLink="/modules/housekeeping/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a> -->
                        </nav>
                    </div>

                    <!-- attendance module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAttendance" aria-expanded="false" aria-controls="collapseAttendance">
                        <div class="sb-nav-link-icon"><i class="bi bi-person-check"></i></div>
                        Attendance
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseAttendance" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/attendance/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>                            
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/attendance/roster">
                                <div class="sb-nav-link-icon"><i class="bi bi-table"></i></div>
                                Roster
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/attendance/attendance">
                                <div class="sb-nav-link-icon"><i class="bi bi-stopwatch"></i></div>
                                Attendance
                            </a>
                            <!-- <a class="nav-link nav-router-link" href="#" routerLink="/modules/attendance/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a> -->
                        </nav>
                    </div>

                    <!-- inventory module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInventory" aria-expanded="false" aria-controls="collapseInventory">
                        <div class="sb-nav-link-icon"><i class="bi bi-boxes"></i></div>
                        Inventory
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseInventory" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/inventory/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>                            
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/inventory/items">
                                <div class="sb-nav-link-icon"><i class="bi bi-bookshelf"></i></div>
                                Stock Items
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/inventory/categories">
                                <div class="sb-nav-link-icon"><i class="bi bi-archive-fill"></i></div>
                                Items Categories
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/inventory/stock-batches">
                                <div class="sb-nav-link-icon"><i class="bi bi-boxes"></i></div>
                                Stock Batches
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/inventory/suppliers">
                                <div class="sb-nav-link-icon"><i class="bi bi-postcard"></i></div>
                                Suppliers
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/inventory/purchasing">
                                <div class="sb-nav-link-icon"><i class="bi bi-cart-fill"></i></div>
                                Purchasing
                            </a>
                            <!-- <a class="nav-link nav-router-link" href="#" routerLink="/modules/inventory/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a> -->
                        </nav>
                    </div>

                    <!-- maintenance module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMaintenance" aria-expanded="false" aria-controls="collapseMaintenance">
                        <div class="sb-nav-link-icon"><i class="bi bi-tools"></i></div>
                        Maintenance
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseMaintenance" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/maintenance/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>                            
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/maintenance/issues">
                                <div class="sb-nav-link-icon"><i class="bi bi-fire"></i></div>
                                Maintenance Issues
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/maintenance/services">
                                <div class="sb-nav-link-icon"><i class="bi bi-telephone-fill"></i></div>
                                Services
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/maintenance/contractors">
                                <div class="sb-nav-link-icon"><i class="bi bi-person-fill-gear"></i></div>
                                Contractors
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/maintenance/systems">
                                <div class="sb-nav-link-icon"><i class="bi bi-tv-fill"></i></div>
                                Systems
                            </a>
                            <!-- <a class="nav-link nav-router-link" href="#" routerLink="/modules/maintenance/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a> -->
                        </nav>
                    </div>

                    <div class="sb-sidenav-menu-heading">Factory</div>

                    <!-- factory main module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFactoryMain" aria-expanded="false" aria-controls="collapseFactoryMain">
                        <div class="sb-nav-link-icon"><i class="bi bi-robot"></i></div>
                        Factory Main
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseFactoryMain" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/factory-main/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>                            
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/factory-main/factory-items">
                                <div class="sb-nav-link-icon"><i class="bi bi-tag-fill"></i></div>
                                Factory Items
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/factory-main/factory-orders">
                                <div class="sb-nav-link-icon"><i class="bi bi-truck"></i></div>
                                Branch Orders
                            </a>
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/factory-main/vendor-orders">
                                <div class="sb-nav-link-icon"><i class="bi bi-truck"></i></div>
                                Customer Orders
                            </a>
                        </nav>
                    </div>

                    <!-- branch factory module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBranchFactory" aria-expanded="false" aria-controls="collapseBranchFactory">
                        <div class="sb-nav-link-icon"><i class="bi bi-building"></i></div>
                        Branch Factory
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseBranchFactory" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/branch-factory/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>                            
                            <a class="nav-link nav-router-link" href="#" routerLink="/modules/branch-factory/branch-orders">
                                <div class="sb-nav-link-icon"><i class="bi bi-truck"></i></div>
                                Branch Orders
                            </a>
                        </nav>
                    </div>

                </div>
            </div>

            <div class="sb-sidenav-footer">
                <div class="small mb-1">Toggle Theme</div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="themeCheck" (change)="setTheme($event)">
                    <!-- <label class="form-check-label" for="flexSwitchCheckChecked">Toggle Theme</label> -->
                </div>                  
            </div>
        </nav>
    </div>

    <div id="layoutSidenav_content">

        <!-- router progress bar -->
        <div class="progress" [style.height.px]="5">
            <div class="progress-bar" role="progressbar" [style.width.%]="progressValue"></div>
        </div>
          
        <!-- main content -->
        <main class="bg-{{themeBackground}} h-100">
            <div class="container-fluid px-4">

                <!-- router -->
                <router-outlet></router-outlet>

            </div>
        </main>

        <!-- footer -->
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">&copy; Murger Han 2023</div>
                    <!-- <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div> -->
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
