<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">

                    <div class="sb-sidenav-menu-heading">Core</div>

                    <!-- admin module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAdmin" aria-expanded="false" aria-controls="collapseAdmin">
                        <div class="sb-nav-link-icon"><i class="bi bi-speedometer2"></i></div>
                        Admin
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseAdmin" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="#" routerLink="/modules/admin/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/admin/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/admin/branches">
                                <div class="sb-nav-link-icon"><i class="bi bi-buildings-fill"></i></div>
                                Branches
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#adminCollapseReports" aria-expanded="false" aria-controls="adminCollapseReports">
                                <div class="sb-nav-link-icon"><i class="bi bi-file-earmark-spreadsheet-fill"></i></div>Reports
                                <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                            </a>
                            <div class="collapse" id="adminCollapseReports" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="#" routerLink="/modules/admin/reports/orders">
                                        <div class="sb-nav-link-icon"><i class="bi bi-record-circle"></i></div>
                                        Orders
                                    </a>
                                    <a class="nav-link" href="#" routerLink="/modules/admin/reports/housekeeping">
                                        <div class="sb-nav-link-icon"><i class="bi bi-record-circle"></i></div>
                                        House-Keeping
                                    </a>
                                    <a class="nav-link" href="#" routerLink="/modules/admin/reports/attendance">
                                        <div class="sb-nav-link-icon"><i class="bi bi-record-circle"></i></div>
                                        Attendance
                                    </a>
                                    <a class="nav-link" href="#" routerLink="/modules/admin/reports/inventories">
                                        <div class="sb-nav-link-icon"><i class="bi bi-record-circle"></i></div>
                                        Inventory
                                    </a>
                                    <a class="nav-link" href="#" routerLink="/modules/admin/reports/maintenance">
                                        <div class="sb-nav-link-icon"><i class="bi bi-record-circle"></i></div>
                                        Maintenance
                                    </a>
                                </nav>
                            </div>
                            <a class="nav-link" href="#" routerLink="/modules/admin/logs">
                                <div class="sb-nav-link-icon"><i class="bi bi-card-list"></i></div>
                                Activity Logs
                            </a>
                        </nav>
                    </div>

                    <!-- users module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                        <div class="sb-nav-link-icon"><i class="bi bi-people"></i></div>
                        Users
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseUsers" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="#" routerLink="/modules/users/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/users/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/users/users">
                                <div class="sb-nav-link-icon"><i class="bi bi-people-fill"></i></div>
                                Users
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/users/invitations">
                                <div class="sb-nav-link-icon"><i class="bi bi-envelope-fill"></i></div>
                                Invitations
                            </a>
                        </nav>
                    </div>

                    <div class="sb-sidenav-menu-heading">Modules</div>

                    <!-- orders module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOrders" aria-expanded="false" aria-controls="collapseOrders">
                        <div class="sb-nav-link-icon"><i class="bi bi-cart4"></i></div>
                        Orders
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseOrders" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="#" routerLink="/modules/orders/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/orders/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/orders/products">
                                <div class="sb-nav-link-icon"><i class="bi bi-tag-fill"></i></div>
                                Products
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/orders/orders">
                                <div class="sb-nav-link-icon"><i class="bi bi-truck"></i></div>
                                Orders
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/orders/vendors">
                                <div class="sb-nav-link-icon"><i class="bi bi-postcard-fill"></i></div>
                                Vendors
                            </a>
                        </nav>
                    </div>

                    <!-- house-keeping module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseHousekeeping" aria-expanded="false" aria-controls="collapseHousekeeping">
                        <div class="sb-nav-link-icon"><i class="bi bi-list-check"></i></div>
                        House-Keeping
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseHousekeeping" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="#" routerLink="/modules/housekeeping/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/housekeeping/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/housekeeping/tasks">
                                <div class="sb-nav-link-icon"><i class="bi bi-list-task"></i></div>
                                Tasks
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/housekeeping/units">
                                <div class="sb-nav-link-icon"><i class="bi bi-building-fill"></i></div>
                                Units
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/housekeeping/incidents">
                                <div class="sb-nav-link-icon"><i class="bi bi-exclamation-diamond-fill"></i></div>
                                Incidents
                            </a>
                        </nav>
                    </div>

                    <!-- attendance module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAttendance" aria-expanded="false" aria-controls="collapseAttendance">
                        <div class="sb-nav-link-icon"><i class="bi bi-person-check"></i></div>
                        Attendance
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseAttendance" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="#" routerLink="/modules/attendance/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/attendance/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/attendance/roster">
                                <div class="sb-nav-link-icon"><i class="bi bi-table"></i></div>
                                Roster
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/attendance/attendance">
                                <div class="sb-nav-link-icon"><i class="bi bi-stopwatch"></i></div>
                                Attendance
                            </a>
                        </nav>
                    </div>

                    <!-- inventory module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInventory" aria-expanded="false" aria-controls="collapseInventory">
                        <div class="sb-nav-link-icon"><i class="bi bi-boxes"></i></div>
                        Inventory
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseInventory" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="#" routerLink="/modules/inventory/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/inventory/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/inventory/items">
                                <div class="sb-nav-link-icon"><i class="bi bi-bookshelf"></i></div>
                                Stock Items
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/inventory/categories">
                                <div class="sb-nav-link-icon"><i class="bi bi-archive-fill"></i></div>
                                Items Categories
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/inventory/suppliers">
                                <div class="sb-nav-link-icon"><i class="bi bi-postcard"></i></div>
                                Suppliers
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/inventory/purchasing">
                                <div class="sb-nav-link-icon"><i class="bi bi-cart-fill"></i></div>
                                Purchasing
                            </a>
                        </nav>
                    </div>

                    <!-- maintenance module -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMaintenance" aria-expanded="false" aria-controls="collapseMaintenance">
                        <div class="sb-nav-link-icon"><i class="bi bi-tools"></i></div>
                        Maintenance
                        <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseMaintenance" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="#" routerLink="/modules/maintenance/dashboard">
                                <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/maintenance/configuration">
                                <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>
                                Configuration
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/maintenance/issues">
                                <div class="sb-nav-link-icon"><i class="bi bi-fire"></i></div>
                                System Issues
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/maintenance/services">
                                <div class="sb-nav-link-icon"><i class="bi bi-telephone-fill"></i></div>
                                Services
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/maintenance/contractors">
                                <div class="sb-nav-link-icon"><i class="bi bi-person-fill-gear"></i></div>
                                Contractors
                            </a>
                            <a class="nav-link" href="#" routerLink="/modules/maintenance/systems">
                                <div class="sb-nav-link-icon"><i class="bi bi-tv-fill"></i></div>
                                Systems
                            </a>
                        </nav>
                    </div>

                </div>
            </div>
        </nav>
    </div>

    <div id="layoutSidenav_content">
        <!-- main content -->
        <main class="bg-light h-100">
            <div class="container-fluid px-4">

                <!-- router -->
                <router-outlet></router-outlet>

            </div>
        </main>

        <!-- footer -->
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">&copy; Murger Han 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>