<div class="row">
    <div class="col-md-12">

        <div class="overflow-auto">
            <table class="table table-bordered table-sm w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="20%" class="min-width-2">Personnel ID</th>
                        <th width="48%" class="min-width-3">Personnel Name</th>
                        <th width="20%" class="min-width-2">Batch</th>
                        <th width="12%" class="p-0 min-width-2">
                            <button class="btn btn-primary btn-sm w-100" (click)="addPersonnel.openModal()">
                                <i class="bi bi-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of rosterPersonnelListData">
                        <td>{{data?.data().personnel?.data?.staff_code}}</td>
                        <td>{{data?.data().personnel?.data?.full_name}}</td>
                        <td>{{data?.data().batch?.data?.batch_symbol}}</td>
                        <td class="p-0">
                            <button class="btn btn-sm btn-success border w-50" (click)="openEditItem(data)">
                                <i class="bi bi-pen"></i>
                            </button>
                            <button class="btn btn-sm border btn-danger w-50" (click)="confirmDelete(data.id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- add and edit personnel modal components -->

<app-add-personnel #addPersonnelComponentReference (saveItemEvent)="createRosterPersonnel($event)"></app-add-personnel>

<app-edit-personnel #editPersonnelComponentReference (saveItemEvent)="updateRosterPersonnel($event)"></app-edit-personnel>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-two #deleteModalTwoComponentReference (confirmEvent)="deleteRosterPersonnel()"></app-delete-modal-two>
