<div class="card shadow-lg border-0 rounded-lg mt-5 pb-4">
    <div class="card-body">
        <h3 class="text-center font-weight-light my-4">Sign Up</h3>
        
        <form *ngIf="!showPrompt" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
                <input class="form-control" formControlName="email" id="inputEmail" type="email" />
                <label for="inputEmail">Email address</label>
                <div *ngIf="errorCode == 'auth/invalid-email'" class="invalid-feedback">{{errorMessage}}</div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" formControlName="password1" id="inputPassword" type="password" />
                <label for="inputPassword">Password</label>
                <div *ngIf="errorCode == 'auth/weak-password'" class="invalid-feedback">{{errorMessage}}</div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" formControlName="password2" id="inputPasswordConfirm" type="password" />
                <label for="inputPasswordConfirm">Confirm Password</label>
                <div *ngIf="passwordMismatch" class="invalid-feedback">Passwords do not match</div>
            </div>
            <div class="d-grid gap-2">
                <button [disabled]="isSending" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
        </form>

        <div *ngIf="showPrompt" class="row p5 text-center">
            <div class="col">
                <img src="../../../../assets/images/success.png" class="mb-4 prompt-image mx-auto">
                <p class="lead">Seccessfully created account</p>
                <p class="lead">Continue to set your profile</p>
                <div class="d-grid gap-2 mt-5">
                    <button routerLink="/settings" class="btn btn-primary btn-lg">Set Profile</button>
                </div>
            </div>
        </div>

    </div>
</div>