<div class="card shadow-lg border-0 rounded-lg mt-5 pb-4">
    <div class="card-body">
        
        <h3 class="text-center font-weight-light my-4">Sign Up</h3>
        
        <div *ngIf="isLoading" class="text-center">
            <div class="spinner-border text-primary m-5" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <form *ngIf="!showPrompt && !isLoading" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="inputEmail">Email address</label>
                <input class="form-control" formControlName="email" id="inputEmail" type="email" />
                <div *ngIf="errorCode == 'auth/invalid-email'" class="small text-danger">{{errorMessage}}</div>
                <div *ngIf="errorCode == 'auth/email-already-exists'" class="small text-danger">{{errorMessage}}</div>
            </div>
            <div class="mb-3">
                <label for="inputPassword">Password</label>
                <input class="form-control" formControlName="password1" id="inputPassword" type="password" />
                <div *ngIf="errorCode == 'auth/weak-password'" class="small text-danger">{{errorMessage}}</div>
            </div>
            <div class="mb-3">
                <label for="inputPasswordConfirm">Confirm Password</label>
                <input class="form-control" formControlName="password2" id="inputPasswordConfirm" type="password" />
                <div *ngIf="passwordMismatch" class="small text-danger">Passwords do not match</div>
            </div>
            <div class="d-grid gap-2 mt-5">
                <button [disabled]="isSending" class="btn btn-primary">Sign Up</button>
            </div>
        </form>

        <div *ngIf="showPrompt" class="row p5 text-center">
            <div class="col">
                <img src="../../../../assets/images/success.png" class="mb-4 prompt-image mx-auto">
                <p class="lead">Seccessfully created account</p>

                <ng-container *ngIf="invitationData.data().invitation_type == 'Staff'">
                    <p class="lead">Continue to set your profile</p>
                    <div class="d-grid gap-2 mt-5">
                        <button routerLink="/settings" class="btn btn-primary btn">Set Profile</button>
                    </div>
                </ng-container>

                <ng-container *ngIf="invitationData.data().invitation_type == '3rd Party User'">
                    <p class="lead">Please Contact Murger Han Admin</p>
                </ng-container>
            </div>
        </div>

    </div>
</div>