<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/housekeeping/units/all-units">All Units</a>
    </li>
    <li class="breadcrumb-item active">Add New Unit</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">

                <p class="lead">Add New Unit</p>
                
                <div class="row">
                    <div class="col">

                        <!-- unit form component -->

                        <app-unit-form #unitFormComponentReference></app-unit-form>
                        
                        <div class="row mt-3 float-end">
                            <div class="col">
                                <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isSavingUnit" (click)="createUnit()">Save</button>
                                <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/housekeeping/units">Cancel</button>
                            </div>
                        </div>                        

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
