<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/inventory/purchasing/all-purchasing">All Purchasing</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/inventory/purchasing/view-purchasing">View Purchasing</a>
    </li>
    <li class="breadcrumb-item active">Purchasing Quality Checks</li>
</ol>

<div class="row">
    <div class="col">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Purchasing Details</p>
                
                <form  [formGroup]="purchasingForm">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Purchasing ID :</label></div>
                                <div class="col-md-8">
                                    <input formControlName="purchasingCode" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Purchasing Date :</label></div>
                                <div class="col-md-8">
                                    <input type="datetime-local" formControlName="purchasingDate" class="form-control form-control-sm w-100">
                                </div>
                            </div>                                    

                        </div>

                        <div class="col-md-6">

                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Supplier ID :</label></div>
                                <div class="col-md-8">
                                    <div class="input-group input-group-sm w-100">
                                        <input formControlName="supplierCode" class="form-control">
                                        <button type="button" class="btn btn-secondary" disabled>
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Supplier Name :</label></div>
                                <div class="col-md-8">
                                    <div class="input-group input-group-sm w-100">
                                        <input formControlName="supplierName" class="form-control">
                                        <button type="button" class="btn btn-secondary" disabled>
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>                                                                

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Quality Checks</p>
                                        
                <div class="row my-3">
                    <div class="col">
                        <div class="row mb-2">
                            <div class="col-md-3 text-muted"><span class="float-end">Item No. :</span></div>
                            <div class="col-md-6">{{purchasingItemData?.data().item_number}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 text-muted"><span class="float-end">Item ID :</span></div>
                            <div class="col-md-6">{{getFormatId(purchasingItemData?.data().stock_item?.data?.item_code)}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 text-muted"><span class="float-end">Item Name :</span></div>
                            <div class="col-md-6">{{purchasingItemData?.data().stock_item?.data?.item_name}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 text-muted"><span class="float-end">Item Category :</span></div>
                            <div class="col-md-6">{{purchasingItemData?.data().stock_item?.data?.item_category?.data?.category_name}}</div>
                        </div>
                    </div>
                </div>     
                
                <hr>

                <div class="row my-3">
                    <div class="col">
                        <div class="row">
                            <div class="col">

                                <div class="overflow-auto">
                                    <table class="table table-sm w-100 page-table">
                                        <thead>
                                            <tr class="bg-light">
                                                <td width="15%" class="min-width-1">Item No.</td>
                                                <td width="65%" class="min-width-4">Item Description</td>
                                                <td width="20%" class="min-width-1">Check</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of checklistListData; let i = index">
                                                <td>{{data?.data().item_number}}</td>
                                                <td>{{data?.data().description}}</td>
                                                <td><input [(ngModel)]="checks[i]" (change)="updateCheckboxValues()" type="checkbox" class="form-check-input"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="my-3">
                        <label for="commentsInput" class="form-label">Comments</label>
                        <textarea [(ngModel)]="checkComments" rows="4" class="form-control form-control-sm w-100" id="commentsInput"></textarea>
                    </div>
                </div>

                <hr>

                <div class="row mt-3 float-end">
                    <div class="col">
                        <button [disabled]="isSavingPurchasingCheck" (click)="setPurchasingCheck()" class="btn btn-sm btn-success ms-2 form-control-btn">Save</button>
                    </div>
                </div>    

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead mb-4">Quality Checks Pictures</p>

                <div class="row mb-4 text-center">
                    <div *ngFor="let data of purchasingCheckImageListData" class="col-md-6 mb-4">
                        <img class="image-thumbnail border rounded" [src]="data?.data().url" style="width: 120px; height: 100px;"/>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col">
                        <button class="btn btn-light border" routerLink="/modules/inventory/purchasing/quality-check-images">
                            View All Pictures
                            <i class="bi bi-arrow-right ms-3"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

