<form [formGroup]="serviceForm">
    <div class="row">
        <div class="col-md-6">
            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Service ID :</label></div>
                <div class="col-md-8">
                    <input formControlName="serviceCode" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4">
                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Service Subject :</label></div>
                <div class="col-md-8">
                    <input formControlName="serviceSubject" class="form-control form-control-sm w-100" required>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Service Type :</label></div>
                <div class="col-md-8">
                    <input formControlName="serviceType" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4">
                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>System ID :</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="systemCode" class="form-control" required>
                        <button type="button" class="btn btn-secondary" (click)="openSystemWindow.emit()">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4">
                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>System Name :</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="systemName" class="form-control" required>
                        <button type="button" class="btn btn-secondary" (click)="openSystemWindow.emit()">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Service Cost :</label></div>
                <div class="col-md-8">
                    <input formControlName="cost" type="number" min="0" step="0.01" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4">
                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Contractor :</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="contractor" class="form-control" required>
                        <button type="button" class="btn btn-secondary" (click)="openContractorWindow.emit()">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Service Status :</label></div>
                <div class="col-md-8">
                    <select formControlName="serviceStatus" class="form-control form-control-sm w-100">
                        <option value=""></option>
                        <option value="Requested">Requested</option>
                        <option value="Ongoing">Ongoing</option>
                        <option value="Finished">Finished</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Servcice Description :</label></div>
                <div class="col-md-8">
                    <textarea formControlName="description" rows="3" class="form-control form-control-sm w-100"></textarea>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Date From :</label></div>
                <div class="col-md-8">
                    <input formControlName="dateFrom" type="date" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Date To :</label></div>
                <div class="col-md-8">
                    <input formControlName="dateTo" type="date" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Comments on Service :</label></div>
                <div class="col-md-8">
                    <textarea formControlName="comments" rows="3" class="form-control form-control-sm w-100"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>