<div class="row">
    <div class="col-md-7">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                
                <p class="lead">User Role</p>

                <form [formGroup]="roleForm" (ngSubmit)="updateUserRole()">
                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Full Name :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="fullName" type="text" class="form-control form-control-sm w-100" [ngClass]="{ 'is-invalid': isSaved && roleForm.controls.fullName.invalid }" required>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1">Staff ID :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="staffCode" type="text" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Branch :</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="branch" class="form-control" [ngClass]="{ 'is-invalid': isSaved && roleForm.controls.branch.invalid }" required>
                                <button type="button" class="btn btn-secondary" (click)="openBranchWindow()">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Staff Role :</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <select formControlName="staffRole" class="form-control" [ngClass]="{ 'is-invalid': isSaved && roleForm.controls.staffRole.invalid }" required>
                                    <option>General Manager</option>
                                    <option>Administrator</option>
                                    <option>Head Manager</option>
                                    <option>Branch Manager</option>
                                    <option>Assistant Branch manager</option>
                                    <option>Head Chef</option>
                                    <option>Branch Chef</option>
                                    <option>Assistant Branch Chef</option>
                                    <option>Waiter/Waitress</option>
                                    <option>Kitchen Staff</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row float-end mt-2">
                        <div class="col">
                            <button [disabled]="isFetchingData || isSavingRole" type="submit" class="btn btn-sm btn-success ms-2 form-control-btn">Update</button>
                            <button [disabled]="isFetchingData || isDeletingRole" type="button" class="btn btn-sm btn-danger ms-2 form-control-btn" (click)="confirmDelete()">Delete</button>
                        </div>
                    </div>
                </form>                
                
            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-one #deleteModalOneComponentReference (confirmEvent)="deleteUserRole()"></app-delete-modal-one>

<!-- select branch window component -->

<app-select-branch #selectBranchComponentReference (rowSelected)="onBranchSelected($event)"></app-select-branch>
