<div class="row mb-4">
    <div class="col-md-7">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">User Role</p>

                <form [formGroup]="roleForm" (ngSubmit)="updateRole()">
                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1">Full Name :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="fullName" type="text" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1">Staff ID :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="staffID" type="text" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1">Branch :</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="branch" class="form-control">
                                <button type="button" class="btn btn-secondary">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1">Staff Role :</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="staffRole" class="form-control">
                                <button type="button" class="btn btn-secondary">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row float-end mt-2">
                        <div class="col">
                            <button [disabled]="isFetchingData || isSavingRole" type="submit" class="btn btn-sm btn-success ms-2 form-control-btn">Update</button>
                            <button [disabled]="isFetchingData || isDeletingRole" type="button" class="btn btn-sm btn-danger ms-2 form-control-btn" (click)="confirmDelete()">Delete</button>
                        </div>
                    </div>
                </form>                
                
            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-one #deleteModalOneComponentReference (confirmEvent)="deleteRole()"></app-delete-modal-one>
