<button [hidden]="true" #newButtonElementReference data-bs-toggle="modal" data-bs-target="#newInvitationModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="newInvitationModal" tabindex="-1" aria-labelledby="newInvitationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form [formGroup]="invitationForm">

                <div class="modal-header bg-light">
                    <span class="modal-title" id="newInvitationModalLabel">Invite New User</span>
                    <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1">Invitaion ID :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="invitationCode" type="text" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Invitee Name :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="inviteeName" type="text" class="form-control form-control-sm w-100" [ngClass]="{ 'is-invalid': isSaved && invitationForm.controls.inviteeName.invalid }" required>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Invitee Email :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="inviteeEmail" type="text" class="form-control form-control-sm w-100" [ngClass]="{ 'is-invalid': isSaved && invitationForm.controls.inviteeEmail.invalid }" placeholder="example@site.com" required>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1">Email Subject :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="emailSubject" type="text" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="text-muted float-md-end float-sm-start mt-1">Email Message :</label>
                        </div>
                        <div class="col-md-8">
                            <textarea formControlName="emailMessage" rows="5" class="form-control form-control-sm w-100"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-success form-control-btn" [disabled]="isSavingInvitation" (click)="createInvitation()">Invite</button>
                    <button type="button" class="btn btn-sm btn-warning form-control-btn" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
