<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Branches</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Branches</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-sm btn-primary add-item-btn" routerLink="/modules/admin/branches/new-branch">Add New Branch</button>
                        <button [disabled]="isFetchingData" (click)="getBranchList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <div class="overflow-auto">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="40%" scope="col" class="min-wdith-4">Branch Name</th>
                                        <th width="30%" scope="col" class="min-wdith-3">Location</th>
                                        <th width="30%" scope="col" class="min-wdith-3">Manager</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!isFetchingData">
                                    <tr *ngFor="let data of branchListData" (dblclick)="editBranch(data?.id)">
                                        <td class="py-3">{{data?.data().branch_name}}</td>
                                        <td class="py-3">{{data?.data().location}}</td>
                                        <td class="py-3">{{data?.data().manager.manager}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="isFetchingData || !isDataAvailable">
                                    <tr>
                                        <td colspan="3">
                                            <app-table-loading [loaderSize]="'md'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm mb-4 pb-4">
            <div class="card-body">

                <p class="lead">Select Admin Branch</p>
                                        
                <div class="input-group input-group-sm w-100">
                    <input [(ngModel)]="selectedBranch" class="form-control" disabled="">
                    <button type="button" class="btn btn-secondary" (click)="openBranchWindow()">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
            
            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- select branch component -->

<app-select-branch #selectBranchComponentReference (rowSelected)="onBranchSelected($event)"></app-select-branch>