<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Branches</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">

                <p class="lead">Branches</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary add-item-btn" routerLink="/modules/admin/branches/new-branch">Add New Branch</button>
                        <button class="btn btn-light border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Branch Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Manager</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="py-3">First Branch</td>
                                    <td class="py-3">London Sub 1</td>
                                    <td class="py-3">John Johnson</td>
                                </tr>
                                <tr>
                                    <td class="py-3">First Branch</td>
                                    <td class="py-3">London Sub 1</td>
                                    <td class="py-3">John Johnson</td>
                                </tr>            
                            </tbody>
                        </table>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
