<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/housekeeping/tasks/all-tasks">All tasks</a>
    </li>
    <li class="breadcrumb-item active">View task</li>
</ol>

<div class="row">

    <div class="col">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">View Task</p>
                
                <form [formGroup]="taskForm">

                    <div class="row">
                        <div class="col-md-6">

                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Task ID :</label></div>
                                <div class="col-md-8">
                                    <input formControlName="taskCode" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4">
                                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Task Name :</label>
                                </div>
                                <div class="col-md-8">
                                    <input formControlName="taskName" class="form-control form-control-sm w-100" [ngClass]="{ 'is-invalid': isSaved && !selectedUserRoleId }" required>
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4">
                                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Primary Asignee :</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group input-group-sm w-100">
                                        <input formControlName="primaryAssignee" class="form-control" [ngClass]="{ 'is-invalid': isSaved && taskForm.controls.primaryAssignee.invalid }" required>
                                        <button type="button" class="btn btn-secondary">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Task Type :</label></div>
                                <div class="col-md-8">
                                    <select formControlName="taskType" class="form-control form-control-sm w-100">
                                        <option value="Chore">Chore</option>
                                        <option value="Inspection">Inspection</option>
                                        <option value="Drill">Drill</option>
                                    </select>
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4">
                                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>From Date :</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="date" formControlName="fromDate" class="form-control form-control-sm w-100" [ngClass]="{ 'is-invalid': isSaved && taskForm.controls.fromDate.invalid }" required>
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4">
                                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>To Date :</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="date" formControlName="toDate" class="form-control form-control-sm w-100" [ngClass]="{ 'is-invalid': isSaved && taskForm.controls.toDate.invalid }" required>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Task Status :</label></div>
                                <div class="col-md-8">
                                    <select formControlName="taskStatus" class="form-control form-control-sm w-100">
                                        <option value="To Do">To Do</option>
                                        <option value="Ongoing">Ongoing</option>
                                        <option value="Done">Done</option>
                                    </select>
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Description :</label></div>
                                <div class="col-md-8">
                                    <textarea formControlName="description" rows="3" class="form-control form-control-sm w-100"></textarea>
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4">
                                    <label class="float-md-end float-sm-start mt-1"><span class="text-danger me-1">*</span>Occurance :</label>
                                </div>
                                <div class="col-md-8">
                                    <select formControlName="occurance" class="form-control form-control-sm w-100" [ngClass]="{ 'is-invalid': isSaved && taskForm.controls.occurance.invalid }" required>
                                        <option value="Non-Recurring" selected>Non-Recurring</option>
                                        <option value="Recurring">Recurring</option>
                                    </select>
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Frequency :</label></div>
                                <div class="col-md-8">
                                    <select formControlName="frequency" class="form-control form-control-sm w-100">
                                        <option value=""></option>
                                        <option value="Daily">Daily</option>
                                        <option value="Weekly">Weekly</option>
                                        <option value="Monthly">Monthly</option>
                                    </select>
                                </div>
                            </div>                                                                    
                        </div>                                        
                    </div>

                </form>

                <div class="row mt-3 float-end">
                    <div class="col">
                        <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isFetchingData || isSavingTask" (click)="updateTask()">Save</button>
                        <button class="btn btn-sm btn-danger ms-2 form-control-btn" [disabled]="isFetchingData || isDeletingTask" (click)="confirmDelete()">Delete</button>
                        <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/housekeeping/tasks">Cancel</button>
                    </div>
                </div>   

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-7">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
    
                <p class="lead">Task Items</p>
                
                <!-- task items component -->

                <app-task-items></app-task-items>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div *ngIf="this.taskForm.controls.occurance.value == 'Recurring'" class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Inspect / Check Task</p>
            
                <div class="mb-4">
                    <label for="inputEmail">Select Period</label>
                    <select [(ngModel)]="selectedPeriod" class="form-control form-control-sm w-100">
                        <option value=""></option>
                        <option *ngFor="let period of generatedPeriods" [value]="period">{{period}}</option>
                    </select>
                </div>

                <button class="btn btn-light border" (click)="gotoInspectRecurringTask()">
                    Inpect Task
                    <i class="bi bi-arrow-right ms-3"></i>
                </button>

            </div>
        </div>

        <div *ngIf="this.taskForm.controls.occurance.value == 'Non-Recurring'" class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Inspect / Check Task</p>
            
                <button class="btn btn-light border" (click)="gotoInspectTask()">
                    Inspect Task
                    <i class="bi bi-arrow-right ms-3"></i>
                </button>

            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-one #deleteModalOneComponentReference (confirmEvent)="deleteTask()"></app-delete-modal-one>
