<form [formGroup]="issueForm">
    <div class="row">
        <div class="col">
            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Issue ID :</label></div>
                <div class="col-md-8">
                    <input formControlName="issueCode" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Issue Subject :</label></div>
                <div class="col-md-8">
                    <input formControlName="issueSubject" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Issue Type :</label></div>
                <div class="col-md-8">
                    <input formControlName="issueType" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Issue Date :</label></div>
                <div class="col-md-8">
                    <input formControlName="issueDate" type="date" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">System :</label></div>
                <div class="col-md-8">
                    <div formControlName="system" class="input-group input-group-sm w-100">
                        <input class="form-control">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Reported to :</label></div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="reportedTo" class="form-control">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Issue Description :</label></div>
                <div class="col-md-8">
                    <textarea formControlName="description" rows="3" class="form-control form-control-sm w-100"></textarea>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Issue Status :</label></div>
                <div class="col-md-8">
                    <input formControlName="issueStatus" class="form-control form-control-sm w-100">
                </div>
            </div>        
            
            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Comments on Issue :</label></div>
                <div class="col-md-8">
                    <textarea formControlName="comments" rows="3" class="form-control form-control-sm w-100"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>