<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Invitations</li>
</ol>

<div class="row">
    <div class="col-md-10">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">Invitations</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary btn-sm add-item-btn" (click)="inviteUser.openModal()">Invite User</button>
                        <input class="form-control form-control-sm w-25 float-end" type="search" placeholder="search invitations">
                        <button [disabled]="isFetchingData" (click)="getInvitationList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Invitation ID'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Invitaion Date'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Invitee Name'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Invitee Email'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Invitaion Status'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of invitationListData" (dblclick)="viewInvitation(data?.id)">
                                    <td>{{data?.data().invitaion_code}}</td>
                                    <td>{{data?.data().invitation_date}}</td>
                                    <td>{{data?.data().invitee_name}}</td>
                                    <td>{{data?.data().invitee_email}}</td>
                                    <td>{{data?.data().invitation_status}}</td>
                                </tr>
                                <tr *ngIf="isFetchingData || !isDataAvailable">
                                    <td colspan="5">
                                        <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <app-table-paginator
                                        (pageSelected)="changePage($event)" [currentPageNumber]="currentPageNumber" [currentPageSize]="currentPageSize" (pageSelected)="getInvitationList()"
                                        ></app-table-paginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- invite user modal component -->

<app-invite-user #inviteUserComponentReference></app-invite-user>