<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Contractors</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">Contractors</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary btn-sm add-item-btn" routerLink="/modules/maintenance/contractors/add-contractor">Add Contractor</button>
                        <input class="form-control form-control-sm w-25 float-end" type="search" placeholder="search contractors">
                        <button class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Contractor ID</th>
                                    <th scope="col">Contractor Name</th>
                                    <th scope="col">Phone No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>VD923</td>
                                    <td>PW Plumbing Works</td>
                                    <td>823774823</td>
                                </tr>
                                <tr>
                                    <td>VD923</td>
                                    <td>PW Plumbing Works</td>
                                    <td>823774823</td>
                                </tr>
                                <tr>
                                    <td>VD923</td>
                                    <td>PW Plumbing Works</td>
                                    <td>823774823</td>
                                </tr>                                         
                            </tbody>
                        </table>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
