<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectOrderModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectOrderModal" tabindex="-1" aria-labelledby="selectOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectOrderModalLabel">Select Order</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">

                <div class="row mb-3">
                    <div class="col">
                        <input [(ngModel)]="filterText" (change)="getOrderList()" class="form-control form-control-sm w-25 float-end" type="search" placeholder="search orders">
                        <button [disabled]="isFetchingData" (click)="getOrderList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="overflow-auto">
                    <table class="table table-sm table-hover table-bordered">
                        <thead>
                            <tr>
                                <th width="15%" scope="col" class="min-width-2">
                                    <app-table-sorting [fieldTitle]="'Order ID'" [thisColumn]="'order_code'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getOrderList()"></app-table-sorting>
                                </th>
                                <th width="25%" scope="col" class="min-width-3">
                                    <app-table-sorting [fieldTitle]="'Order Date'" [thisColumn]="'order_date'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getOrderList()"></app-table-sorting>
                                </th>
                                <th width="40%" scope="col" class="min-width-4">
                                    <app-table-sorting [fieldTitle]="'Vendor Name'" [thisColumn]="'vendor_name'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getOrderList()"></app-table-sorting>
                                </th>
                                <th width="20%" scope="col" class="min-width-3">
                                    <app-table-sorting [fieldTitle]="'Total Price'" [thisColumn]="'total_price'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getOrderList()"></app-table-sorting>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!isFetchingData">
                            <tr *ngFor="let data of orderListData" (dblclick)="selectRow(data)">
                                <td>{{getFormatId(data?.data().order_code)}}</td>
                                <td>{{data?.data().order_date | date: 'short'}}</td>
                                <td>{{data?.data().vendor?.data.vendor_name}}</td>
                                <td>{{data?.data().total_price | currency:'GBP'}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="isFetchingData || !isDataAvailable">
                            <tr>
                                <td colspan="4">
                                    <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                </td>
                            </tr>
                        </tbody>
                    </table>                 
                </div>

                <div class="row mb-3">
                    <div class="col">

                        <app-table-paginator [(currentPage)]="currentPage" [pageSize]="pageSize" [totalPages]="totalPages" (pageData)="getOrderList()"></app-table-paginator>
                        
                    </div>
                </div>
                
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
