<div class="card shadow-lg border-0 rounded-lg mt-5 pb-4">
    <div class="card-body">
        <h3 class="text-center font-weight-light my-4">Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
                <input formControlName="email" class="form-control" id="inputEmail" type="email" />
                <label for="inputEmail">Email address</label>
                <div *ngIf="errorCode == 'auth/user-not-found'" class="invalid-feedback">{{errorMessage}}</div>
                <div *ngIf="errorCode == 'auth/invalid-email'" class="invalid-feedback">{{errorMessage}}</div>
            </div>
            <div class="form-floating mb-3">
                <input formControlName="password" class="form-control" id="inputPassword" type="password" />
                <label for="inputPassword">Password</label>
                <div *ngIf="errorCode == 'auth/wrong-password'" class="invalid-feedback">{{errorMessage}}</div>
            </div>
            <div class="d-grid gap-2">
                <button [disabled]="isSending" class="btn btn-primary btn-lg">Login</button>
            </div>
            <div class="text-center mt-4 mb-0">
                <a class="small" href="#" routerLink="/auth/recovery">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>