<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/attendance/attendance/all-attendance">All Attendance</a>
    </li>
    <li class="breadcrumb-item active">General attendance</li>
</ol>

<div class="row">

    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">General Attendance</p>
                
                <div class="row">
                    <div class="col">

                        <form [formGroup]="attendanceForm">

                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Attendance ID :</label></div>
                                <div class="col-md-8">
                                    <input formControlName="attendanceCode" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Attendance Name :</label></div>
                                <div class="col-md-8">
                                    <input formControlName="attendanceName" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">From Date :</label></div>
                                <div class="col-md-8">
                                    <input type="date" formControlName="fromDate" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">To Date :</label></div>
                                <div class="col-md-8">
                                    <input type="date" formControlName="toDate" class="form-control form-control-sm w-100">
                                </div>
                            </div>
                                                        
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Attendance Personnel</p>
                
                <button class="btn btn-light bordered" routerLink="/modules/attendance/attendance/attendance-personnel">
                    Manage Personnel
                    <i class="bi bi-arrow-right ms-3"></i>
                </button>

            </div>
        </div>
    </div> -->

</div>

<div class="row">
    <div class="col">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">General Attendance Sheet</p>
                
                <div class="row">
                    <div class="col">

                        <!-- attendance sheet component -->

                        <app-general-attendance-sheet></app-general-attendance-sheet>

                    </div>
                </div>

            </div>
        </div>
    </div>    
</div>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
