<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/maintenance/systems/all-systems">All Systems</a>
    </li>
    <li class="breadcrumb-item active">Add System</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">

                <p class="lead">Add System</p>
                
                <div class="row">
                    <div class="col">

                        <!-- maintenance system form component -->

                        <app-maintenance-system-form #maintenanceSystemFormComponentReference></app-maintenance-system-form>                        
                        
                        <div class="row mt-3 float-end">
                            <div class="col">
                                <button class="btn btn-sm btn-success ms-2 form-control-btn" [disabled]="isSavingSystem" (click)="createSystem()">Save</button>
                                <button class="btn btn-sm btn-warning ms-2 form-control-btn" routerLink="/modules/maintenance/systems">Cancel</button>
                            </div>
                        </div>   
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
