<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/attendance/attendance/all-attendance">All Attendance</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="#" routerLink="/modules/attendance/attendance/general-attendance">General Attendance</a>
    </li>
    <li class="breadcrumb-item active">Day Attendance</li>
</ol>

<div class="row">

    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">General Attendance</p>
                
                <div class="row">
                    <div class="col">

                        <form [formGroup]="attendanceForm">

                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Attendance ID :</label></div>
                                <div class="col-md-8">
                                    <input formControlName="attendanceCode" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Attendance Name :</label></div>
                                <div class="col-md-8">
                                    <input formControlName="attendanceName" class="form-control form-control-sm w-100">
                                </div>
                            </div>
        
                            <div class="row mb-1">
                                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Attendance Day :</label></div>
                                <div class="col-md-8">
                                    <input type="date" formControlName="selectedDay" class="form-control form-control-sm w-100">
                                </div>
                            </div>
                                                                
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-9">
        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <p class="lead">Day Attendance Sheet</p>
                
                <div class="row">
                    <div class="col">

                        <!-- attendance sheet component -->

                        <app-day-attendance-sheet></app-day-attendance-sheet>

                    </div>
                </div>

            </div>
        </div>
    </div>    
</div>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
