<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Tasks</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                
                <p class="lead">Tasks</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary btn-sm add-item-btn" (click)="newTask.openModal()">New Task</button>
                        <input [(ngModel)]="filterText" (change)="getTaskList()" class="form-control form-control-sm w-25 float-end" type="search" placeholder="search tasks">
                        <button [disabled]="isFetchingData" (click)="getTaskList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <div class="overflow-auto">
                            <table class="table table-sm table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th width="10%" scope="col" class="min-width-2">
                                            <app-table-sorting [fieldTitle]="'Task ID'" [thisColumn]="'task_code'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getTaskList()"></app-table-sorting>
                                        </th>
                                        <th width="30%" scope="col" class="min-width-4">
                                            <app-table-sorting [fieldTitle]="'Task Name'" [thisColumn]="'task_name'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getTaskList()"></app-table-sorting>
                                        </th>
                                        <th width="15%" scope="col" class="min-width-3">
                                            <app-table-sorting [fieldTitle]="'From Date'" [thisColumn]="'from_date'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getTaskList()"></app-table-sorting>
                                        </th>
                                        <th width="15%" scope="col" class="min-width-3">
                                            <app-table-sorting [fieldTitle]="'To Date'" [thisColumn]="'to_date'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getTaskList()"></app-table-sorting>
                                        </th>
                                        <th width="15%" scope="col" class="min-width-3">
                                            <app-table-sorting [fieldTitle]="'Task Type'" [thisColumn]="'task_type'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getTaskList()"></app-table-sorting>
                                        </th>
                                        <th width="15%" scope="col" class="min-width-3">
                                            <app-table-sorting [fieldTitle]="'Task Status'" [thisColumn]="'task_status'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getTaskList()"></app-table-sorting>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!isFetchingData">
                                    <tr *ngFor="let data of taskListData" (click)="viewTask(data?.id)">
                                        <td>{{getFormatId(data?.data().task_code)}}</td>
                                        <td>{{data?.data().task_name}}</td>
                                        <td>{{data?.data().from_date | date}}</td>
                                        <td>{{data?.data().to_date | date}}</td>
                                        <td>{{data?.data().task_type}}</td>
                                        <td>{{data?.data().task_status}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="isFetchingData || !isDataAvailable">
                                    <tr>
                                        <td colspan="6">
                                            <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">

                        <app-table-paginator [(currentPage)]="currentPage" [pageSize]="pageSize" [totalPages]="totalPages" (pageData)="getTaskList()"></app-table-paginator>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- new task modal component -->

<app-new-task #newTaskComponentReference></app-new-task>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>