<button [hidden]="true" #addButtonElementReference data-bs-toggle="modal" data-bs-target="#addPersonnelModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="addPersonnelModal" tabindex="-1" aria-labelledby="addPersonnelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="addPersonnelModalLabel">Add Personnel</span>
                <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <!-- personnel form component -->

                <app-personnel-form #personnelFormComponentReference (openUserRoleWindow)="openUserRoleWindow()" (openBatchWindow)="openBatchWindow()"></app-personnel-form>
          
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-success form-control-btn" [disabled]="isItemSaving" (click)="saveItem()">Save</button>
                <button type="button" class="btn btn-sm btn-warning form-control-btn" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<!-- select batch window -->

<app-select-batch #selectBatchComponentReference (rowSelected)="onBatchSelected($event)" [closeTarget]="'#addPersonnelModal'"></app-select-batch>

<!-- select userrole window -->

<app-select-user-role #selectUserRoleComponentReference (rowSelected)="onUserRoleSelected($event)" [closeTarget]="'#addPersonnelModal'"></app-select-user-role>
