<div class="row">
    <div class="col-md-7">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                
                <p class="lead">User Profile</p>

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-basic-tab" data-bs-toggle="tab" data-bs-target="#nav-basic" type="button" role="tab" aria-controls="nav-basic" aria-selected="true">
                            Basic Profle
                        </button>
                        <button class="nav-link" id="nav-logo-tab" data-bs-toggle="tab" data-bs-target="#nav-additional" type="button" role="tab" aria-controls="nav-logo" aria-selected="false">
                            Additional Info
                        </button>
                        <button class="nav-link" id="nav-location-tab" data-bs-toggle="tab" data-bs-target="#nav-availability" type="button" role="tab" aria-controls="nav-location" aria-selected="false">
                            Availability
                        </button>
                        <button class="nav-link" id="nav-location-tab" data-bs-toggle="tab" data-bs-target="#nav-picture" type="button" role="tab" aria-controls="nav-location" aria-selected="false">
                            Profile Picture
                        </button>
                    </div>
                </nav>

                <div class="tab-content mt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
                        <div *ngIf="!isFetchingData">                                                
                            <div class="row mb-2">
                                <div class="col-md-4 text-muted">Full Name :</div>
                                <div class="col-md-8">{{basicProfileData.data().full_name}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 text-muted">Date of Birth :</div>
                                <div class="col-md-8">{{basicProfileData.data().date_of_birth | date}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 text-muted">NI Number :</div>
                                <div class="col-md-8">{{basicProfileData.data().ni_number}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 text-muted">Email :</div>
                                <div class="col-md-8">{{basicProfileData.data().email}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 text-muted">Phone :</div>
                                <div class="col-md-8">{{basicProfileData.data().phone}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 text-muted">Address :</div>
                                <div class="col-md-8">{{basicProfileData.data().address}}</div>
                            </div>
                        </div>

                        <div *ngIf="isFetchingData" class="text-center">
                            <div class="spinner-border text-primary m-5" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-additional" role="tabpanel" aria-labelledby="nav-additional-tab">
                        <div *ngIf="!isFetchingData">                        
                            <div class="row mb-2">
                                <div class="col-md-4 text-muted">Nationality :</div>
                                <div class="col-md-8">{{additionalProfileData.data().nationality}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 text-muted">Marital Status :</div>
                                <div class="col-md-8">{{additionalProfileData.data().marital_status}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 text-muted">Religion :</div>
                                <div class="col-md-8">{{additionalProfileData.data().religion}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 text-muted">Emergency Contact name :</div>
                                <div class="col-md-8">{{additionalProfileData.data().e_contact_name}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 text-muted">Emergency Contact Number :</div>
                                <div class="col-md-8">{{additionalProfileData.data().e_contact_number}}</div>
                            </div>
                        </div>

                        <div *ngIf="isFetchingData" class="text-center">
                            <div class="spinner-border text-primary m-5" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-availability" role="tabpanel" aria-labelledby="nav-availability-tab">
                        <div *ngIf="!isFetchingData">
                            <div class="row mb-3">
                                <div class="col-md-4 text-muted">Contract Type :</div>
                                <div class="col-md-8">{{availabilityData.data().contract_type}}</div>
                            </div>
                            
                            <div class="row">
                                <div class="col">
                                    <div class="text-muted">Availability :</div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" width="40%">Days</th>
                                                <th scope="col" width="20%">Available</th>
                                                <th scope="col" width="20%">Time From</th>
                                                <th scope="col" width="20%">Time To</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Monday</td>
                                                <td><input [checked]="availabilityData.data().availability.monday.available" type="checkbox" class="form-check-input" disabled></td>
                                                <td>{{availabilityData.data().availability.monday.time_from}}</td>
                                                <td>{{availabilityData.data().availability.monday.time_to}}</td>
                                            </tr>
                                            <tr>
                                                <td>Tuesday</td>
                                                <td><input [checked]="availabilityData.data().availability.tuesday.available" type="checkbox" class="form-check-input" disabled></td>
                                                <td>{{availabilityData.data().availability.tuesday.time_from}}</td>
                                                <td>{{availabilityData.data().availability.tuesday.time_to}}</td>
                                            </tr>
                                            <tr>
                                                <td>Wednesday</td>
                                                <td><input [checked]="availabilityData.data().availability.wednesday.available" type="checkbox" class="form-check-input" disabled></td>
                                                <td>{{availabilityData.data().availability.wednesday.time_from}}</td>
                                                <td>{{availabilityData.data().availability.wednesday.time_to}}</td>
                                            </tr>
                                            <tr>
                                                <td>Thursday</td>
                                                <td><input [checked]="availabilityData.data().availability.thursday.available" type="checkbox" class="form-check-input" disabled></td>
                                                <td>{{availabilityData.data().availability.thursday.time_from}}</td>
                                                <td>{{availabilityData.data().availability.thursday.time_to}}</td>
                                            </tr>
                                            <tr>
                                                <td>Friday</td>
                                                <td><input [checked]="availabilityData.data().availability.friday.available" type="checkbox" class="form-check-input" disabled></td>
                                                <td>{{availabilityData.data().availability.friday.time_from}}</td>
                                                <td>{{availabilityData.data().availability.friday.time_to}}</td>
                                            </tr>
                                            <tr>
                                                <td>Saturday</td>
                                                <td><input [checked]="availabilityData.data().availability.saturday.available" type="checkbox" class="form-check-input" disabled></td>
                                                <td>{{availabilityData.data().availability.saturday.time_from}}</td>
                                                <td>{{availabilityData.data().availability.saturday.time_to}}</td>
                                            </tr>
                                            <tr>
                                                <td>Sunday</td>
                                                <td><input [checked]="availabilityData.data().availability.sunday.available" type="checkbox" class="form-check-input" disabled></td>
                                                <td>{{availabilityData.data().availability.sunday.time_from}}</td>
                                                <td>{{availabilityData.data().availability.sunday.time_to}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="isFetchingData" class="text-center">
                            <div class="spinner-border text-primary m-5" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-picture" role="tabpanel" aria-labelledby="nav-picture-tab">
                        <div *ngIf="!isFetchingData">                        
                            <div class="card border rounded mt-4" [style.width.px]="150" [style.height.px]="180">
                                <div class="card-img-top text-center m-auto">
                                    <img *ngIf="basicProfileData.data().profile_photo != ''" class="border rounded" [src]="basicProfileData.data().profile_photo" [width]="150" [height]="180" />
                                    <i *ngIf="basicProfileData.data().profile_photo == ''" class="bi bi-camera fs-1 p-3 border rounded"></i>
                                    <!-- <i class="bi bi-camera fs-1 p-3 border rounded"></i> -->
                                </div>
                            </div>                            
                        </div>

                        <div *ngIf="isFetchingData" class="text-center">
                            <div class="spinner-border text-primary m-5" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
