<div class="row">
    <div class="col-md-7">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">User Profile</p>

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-basic-tab" data-bs-toggle="tab" data-bs-target="#nav-basic" type="button" role="tab" aria-controls="nav-basic" aria-selected="true">
                            Basic Profle
                        </button>
                        <button class="nav-link" id="nav-logo-tab" data-bs-toggle="tab" data-bs-target="#nav-additional" type="button" role="tab" aria-controls="nav-logo" aria-selected="false">
                            Additional Info
                        </button>
                        <button class="nav-link" id="nav-location-tab" data-bs-toggle="tab" data-bs-target="#nav-availability" type="button" role="tab" aria-controls="nav-location" aria-selected="false">
                            Availability
                        </button>
                    </div>
                </nav>

                <div class="tab-content mt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
                        <div class="row mb-2">
                            <div class="col-md-4 text-muted">Full Name :</div>
                            <div class="col-md-8">John Johnson</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 text-muted">Date of Birth :</div>
                            <div class="col-md-8"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 text-muted">NI Number :</div>
                            <div class="col-md-8"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 text-muted">Email :</div>
                            <div class="col-md-8"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 text-muted">Phone :</div>
                            <div class="col-md-8"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 text-muted">Address :</div>
                            <div class="col-md-8"></div>
                        </div>                        
                    </div>

                    <div class="tab-pane fade" id="nav-additional" role="tabpanel" aria-labelledby="nav-logo-tab">
                        <div class="row mb-2">
                            <div class="col-md-4 text-muted">Nationality :</div>
                            <div class="col-md-8">Ghanaian</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 text-muted">Marital Status :</div>
                            <div class="col-md-8"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 text-muted">Religion :</div>
                            <div class="col-md-8"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 text-muted">Emergency Contact name :</div>
                            <div class="col-md-8"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 text-muted">Emergency Contact Number :</div>
                            <div class="col-md-8"></div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-availability" role="tabpanel" aria-labelledby="nav-location-tab">
                        <div class="row mb-3">
                            <div class="col-md-4 text-muted">Contract Type :</div>
                            <div class="col-md-8">Full Time</div>
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <div class="text-muted">Availability :</div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" width="50%">Days</th>
                                            <th scope="col" width="25%">Time From</th>
                                            <th scope="col" width="25%">Time To</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Monday</td>
                                            <td>10:00 AM</td>
                                            <td>04:00 PM</td>
                                        </tr>
                                        <tr>
                                            <td>Tuesday</td>
                                            <td>10:00 AM</td>
                                            <td>04:00 PM</td>
                                        </tr>
                                        <tr>
                                            <td>Wednesday</td>
                                            <td>10:00 AM</td>
                                            <td>04:00 PM</td>
                                        </tr>
                                        <tr>
                                            <td>Thursday</td>
                                            <td>10:00 AM</td>
                                            <td>04:00 PM</td>
                                        </tr>
                                        <tr>
                                            <td>Friday</td>
                                            <td>10:00 AM</td>
                                            <td>04:00 PM</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
