<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Issues</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">Maintenance Issues</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary btn-sm add-item-btn" routerLink="/modules/maintenance/issues/new-issue">New Issue</button>
                        <input [(ngModel)]="filterText" (change)="getIssueList()" class="form-control form-control-sm w-25 float-end" type="search" placeholder="search maintenance issues">
                        <button [disabled]="isFetchingData" (click)="getIssueList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <div class="overflow-auto">                    
                            <table class="table table-sm table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <app-table-sorting [fieldTitle]="'Issue ID'" [thisColumn]="'issue_code'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getIssueList()"></app-table-sorting>
                                        </th>
                                        <th scope="col">
                                            <app-table-sorting [fieldTitle]="'Issue Subject'" [thisColumn]="'issue_subject'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getIssueList()"></app-table-sorting>
                                        </th>
                                        <th scope="col">
                                            <app-table-sorting [fieldTitle]="'Issue Date'" [thisColumn]="'issue_date'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getIssueList()"></app-table-sorting>
                                        </th>
                                        <th scope="col">
                                            <app-table-sorting [fieldTitle]="'System'" [thisColumn]="'system_name'" [(sortColumn)]="sortColumn" [(sortDirection)]="sortDirection" (sortData)="getIssueList()"></app-table-sorting>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!isFetchingData">
                                    <tr *ngFor="let data of issueListData" (dblclick)="viewIssue(data?.id)">
                                        <td>{{data?.data().issue_code}}</td>
                                        <td>{{data?.data().issue_subject}}</td>
                                        <td>{{data?.data().issue_date | date: 'short'}}</td>
                                        <td>{{data?.data().system.data.system_name}}</td>
                                    </tr> 
                                </tbody>
                                <tbody *ngIf="isFetchingData || !isDataAvailable">
                                    <tr>
                                        <td colspan="4">
                                            <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">

                        <app-table-paginator [(currentPage)]="currentPage" [pageSize]="pageSize" [totalPages]="totalPages" (pageData)="getIssueList()"></app-table-paginator>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>