<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Issues</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">Maintenance Issues</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary btn-sm add-item-btn" routerLink="/modules/maintenance/issues/new-issue">New Issue</button>
                        <input class="form-control form-control-sm w-25 float-end" type="search" placeholder="search maintenance issues">
                        <button class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Issue ID</th>
                                    <th scope="col">Issue Title</th>
                                    <th scope="col">Issue Date</th>
                                    <th scope="col">System</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IS80035</td>
                                    <td>Kitchen Plumbing Leak</td>
                                    <td>04-03-2023</td>
                                    <td>Main Kitchen</td>
                                </tr> 
                                <tr>
                                    <td>IS80035</td>
                                    <td>Kitchen Plumbing Leak</td>
                                    <td>04-03-2023</td>
                                    <td>Main Kitchen</td>
                                </tr>                               
                            </tbody>
                        </table>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
