<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All Issues</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <p class="lead">Maintenance Issues</p>

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary btn-sm add-item-btn" routerLink="/modules/maintenance/issues/new-issue">New Issue</button>
                        <input class="form-control form-control-sm w-25 float-end" type="search" placeholder="search maintenance issues">
                        <button [disabled]="isFetchingData" (click)="getIssueList()" class="btn btn-light btn-sm border float-end page-refresh-btn me-3">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Issue ID'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Issue Subject'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'Issue Date'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                    <th scope="col">
                                        <app-table-sorting [fieldTitle]="'System'" [sortField]="''" [currentField]="''" (sortDirection)="''"></app-table-sorting>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of issueListData" (dblclick)="viewIssue(data?.id)">
                                    <td>{{data?.data().issue_code}}</td>
                                    <td>{{data?.data().issue_subject}}</td>
                                    <td>{{data?.data().issue_date}}</td>
                                    <td>{{data?.data().system.data.system_name}}</td>
                                </tr> 
                                <tr *ngIf="isFetchingData || !isDataAvailable">
                                    <td colspan="4">
                                        <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingData" [isNoData]="isDataAvailable"></app-table-loading>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <app-table-paginator
                                        (pageSelected)="changePage($event)" [currentPageNumber]="currentPageNumber" [currentPageSize]="currentPageSize" (pageSelected)="getIssueList()"
                                        ></app-table-paginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- connection toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>